<% title "Announcements", false %>

<div class="row">
	<div class="col-md-6 announcements">
		<%= panel(title: "Annoucements", icon: "bell") do %>
      <%= link_to  new_announcement_path, class: "btn btn-sm btn-primary", data: { remote: true } do %>
        <i class="fa fa-plus"></i> New Announcement
      <% end %>
      <hr/>

      <div id="announcement_form_holder"></div>

      <div id="current_announcements">
        <% @announcements.each do |announcement| %>
          <%= render announcement, show: "div" %>
        <% end %>

        <% if @announcements.size == 0 %>
          <div class="blank-slate">
            <i class="icon-bullhorn"></i>
            <h1>No announcements added.</h1>
            <p>Click on the <strong>New Announcement</strong> button to add one.</p>
          </div>
        <% end %>
      </div>

		<% end %>
	</div>
  <div class="col-md-6 announcements">
  	<%= panel(title: "Recently Expired Announcements", icon: "bell") do %>

      <div class="expired_announcements">

        <% @expired_announcements.each do |announcement| %>
          <%= render announcement, show: "div" %>

        <% end %>
      </div>

    <% end %>
  </div>
</div>
