<% unless item.ils_id.blank? %>
  <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
    <div class="btn-group" role="group">
      <button id="btnGroupDrop1" type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa fa-plus-square fa-fw "></i> Alma Item
      </button>
      <ul class="dropdown-menu">
        <li>
          <%= form_tag  new_from_primo_path, method: :get do |f| %>
            <%= render "form_primo_fields", item: item %>

            <%= link_to "#", onclick: "$(this).closest('form').submit(); return false;", style: "padding: 5px 10px; line-height: 26px;" do %>
            <i class="fa fa-plus-square fa-fw "></i> Primo Item
            <% end %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>

<% else %>
  <%= form_tag  new_from_primo_path, method: :get do |f| %>
    <%= render "form_primo_fields", item: item %>

    <button type="submit" class="btn btn-info">
      <i class="fa fa-plus-square fa-fw "></i> Primo Item
    </button>
  <% end %>

<% end %>
