<% if !@results.nil? && @results.size > 0 %>
  <div class="cat-search-results">

    <% @results.each_with_index do |item, index| %>

    <div class="media">

      <div class="pull-left">
        <% if item.isbn_issn %>
          <div class="book-cover text-center"
                data-book-cover-url="<%= "https://syndetics.com/index.php?client=primo&isbn=#{item.isbn_issn}/sc.jpg" %>">
            <%= image_tag 'book_cover_v1.jpg', class: "book-cover-image" %>

          </div>
        <% else %>
          <%= image_tag 'book_cover_v1.jpg', class: "book-cover-image" %>
        <% end %>

      </div>

      <div class="media-body">
          <h3 class="media-heading" style="margin-bottom: 10px;">
            <span class="pull-right">
            <% unless item.ils_id.blank? %>
              <a href="<%= new_from_primo_path %>?bib_record_id=<%= item.ils_id %>" data-confirm="Are you sure?" class="btn btn-success">
                <i class="fa fa-plus-square fa-fw "></i> Alma Item
              </a>
            <% else %>
              <%= form_tag  new_from_primo_path, method: :get do |f| %>
                <%= hidden_field_tag :primo_id, item.primo_id %>
                <%= hidden_field_tag :title, item.title %>
                <%= hidden_field_tag :author, item.author %>
                <%= hidden_field_tag :callnumber, item.callnumber %>
                <%= hidden_field_tag :publisher, item.publisher %>
                <%= hidden_field_tag :publication_date, item.publication_date %>
                <%= hidden_field_tag :edition, item.edition %>
                <%= hidden_field_tag :language, item.language %>
                <%= hidden_field_tag :isbn_issn, item.isbn_issn %>
                <%= hidden_field_tag :type, item.item_type %>
                <%= hidden_field_tag :description, item.description %>

                <button type="submit" class="btn btn-info">
                  <i class="fa fa-plus-square fa-fw "></i> Primo Item
                </button>
              <% end %>

            <% end %>
            </span>
            <%= item.title %>
          </h3>

          <ul class="list-unstyled list-info">
            <li>
                <span class="fa fa-user fa-fw"></span>
                <label>Author</label>
                <span class="text-lg"><%= item.author %></span>
            </li>
            <li>
                <span class="fa fa-university fa-fw"></span>
                <label>Publisher</label>
                <span class="text-lg"><%= item.publisher %></span> <span class="trivial">Published: <%= item.publication_date %></span>
            </li>
            <li>
                <span class="fa fa-tags fa-fw"></span>
                <label>Subject</label>
                <span class="text-lg"><%= item.subject %></span>
            </li>
            <li>
                <span class="fa fa-language fa-fw"></span>
                <label>Edition + Language</label>
                <span class="text-lg"><%= item.edition %> [<%= item.language %>]</span>
            </li>
            <li>
                <span class="fa fa-barcode fa-fw"></span>
                <label>ISBN + Call Number</label>
                <span class="text-lg"><%= item.isbn_issn %> &amp;
                <%= item.callnumber %></span>
            </li>
            <li>
                <span class="fa fa-file-text fa-fw"></span>
                <label>Format + Description</label>
                <span class="text-lg"><%= item.item_type %></span>
                <span class="trivial">[<%= item.description %>]</span>
            </li>
          </ul>
      </div>
    </div>

    <% end %>

  </div>

<% elsif !@result.nil? && @results.size == 0 %>
  <div class="blank-slate">
    <i class="icon-question-sign"></i>
    <h1>No Search Terms</h1>
    <p>Please specify a search term in the search box.</p>
  </div>
<% end %>
