<% title "New Item From Primo", false %>

<div class="row">
	<div class="col-md-12">
		<%= panel(title: "New Item From Primo", icon: "search") do %>

    <div class="row" style="margin-bottom: 3.5rem;">

      <div class="col-md-6 offset-md-3">
        <h4 class="text-center mb-3">Create New Item From Primo</h4>
        <form action="<%= from_primo_index_path %>" id="primo_search_form" method="get" data-remote="true">
          <div class="form-group form-group-lg row">
           <div class="col-10">
             <input class="form-control" name="q" value="<%= @query %>" type="text" id="formGroupInputLarge" placeholder="Search Primo">
           </div>
           <div class="col-2">
             <input id="search_primo_button" type="submit" value="Search" class="btn btn-primary" xstyle="padding: 8px 16px;"/>
           </div>
          </div>
         </form>
       </div>
    </div>

    <div class="d-none text-center" id="loading_results">
      <p class="small cursor-pointer" id="reset_primo_search">Reset Primo Search</p>
      <%= image_tag "loading.gif" %>
    </div>


    <div id="primo_results">
      <%= render "primo_results" %>
    </div>


    <% end %>


  </div>
</div>
