<% title "Edit Note" %>


<div class="row">
	<div class="col-md-12">
		<%= panel(title: "Edit Note", icon: "commenting-o") do %>
			<%= simple_form_for [@student, @note] do |f| %>
			  <%= f.label :note, "Update a note about #{@student.name}" %>
			  <%= f.input :note, :label => false %><br/>
			  <%= f.button :submit, class: "btn btn-success"%> 
				<%= link_to "Cancel", student_notes_path(@student), class: "btn btn-link" %>
			<% end %>
		<% end %>
	</div>
</div>
