<% title "#{@student.name} - Notes" %>
<% title_html do %>
	<h1><%= @student.name %> - Notes
		<% if @student.inactive? %>
			<span class="red">Inactive</span>
		<% end %>
	</h1>

<% end%>

<% sidebar do %>
	<%= render partial: "students/shared/sidebar"%>
<% end %>


<%= render partial: @student %>	

<div class="student-extended">
	<%= render partial: "students/shared/subnav" %>

	<section class="notes">
		<h2>Notes <a data-toggle="modal" href="#new_note_form" class='btn btn-small'>New Note</a></h2>
	
		<div id="new_note_form" class="hide modal">
		
			<div class="modal-header">
				<h2>Add a new note</h2>
			</div>
			<div class="modal-body">
				<% @note = Note.new %>
				<%= render partial:  "notes/form"%>

			</div>

			<div class="modal-footer">
				<a href="#" class="btn" data-dismiss="modal">Close</a>
			</div>								
		</div>
	
	
		<table id="notes" class="notes">
			<% @student.notes.each do |note| %>		
				<%= render partial: note %>
			<% end %>
		
		</table>
	
	</section>
</div>

