<%= simple_form_for [@todo_list, @todo_item], html: { remote: true } do |f| %>
  <div class="row">
    <div class="col-md-8">
      <%= f.input :summary, label: false, input_html: { placeholder: "Todo Item Summary", class: "text-lg" } %>
    </div>
    <div class="col-md-2">
      <%= f.input :assigned_to_id, collection: User.active.not_students, label: false, input_html: { placeholder: "Assigned To" }  %>
    </div>
    <div class="col-md-2">
      <%= f.input :due_date, as: :string, label: false, input_html: { placeholder: "Due Date", class: "datepicker" }  %>
    </div>
  </div>

  <hr/>
  <%= f.button :submit,  class: 'btn btn-primary' %>

  <% if request.xhr? %>
    <%= link_to "Cancel", "#", class: "btn btn-default", onclick: "$(this).parents('.form_holder').empty(); return false;" %>
  <% else %>
    <%= link_to 'Cancel', @todo_item.new_record? ? todo_lists_path : todo_list_path(@todo_list), class: 'btn btn-default' %>
  <% end %>

<% end %>
