<div class="list-group scan_list" id="scan_list_<%= scan_list.id %>" data-id="<%= scan_list.id %>">
  <div class="list-group-item list-group-item-success">
      <span class="badge"><%= scan_list.assignee %></span>
      <a href="<%= scan_list_path(scan_list) %>"><%= scan_list.name %></a>
      &nbsp; &nbsp;
      <a href="<%= edit_scan_list_path(scan_list) %>" data-remote="true"><i class="fa fa-edit"></i></a>
  </div>
  <div id="edit_scan_list_form_holder_<%= scan_list.id %>" class="form_holder">
  </div>
  <div class="scan_list_items">
    <% scan_list.scan_items.each do |scan_item| %>
      <%= render scan_item, show: "div" %>
    <% end %>
  </div>
  <div class="list-group-item">
    <div class="row">
      <div class="col-md-10">
        <a href="<%= new_scan_list_scan_item_path(scan_list) %>" data-remote="true">+ Add Item</a>

      </div>
      <div class="col-md-2 text-right">

        <%= simple_form_for scan_list, html: { remote: true } do |f| %>

          <% if scan_list.status == ScanList::STATUS_SCANNING %>
            <i class="scan_list_status fa fa-fw fa-square-o"></i>
            <input type="hidden" name="scan_list[status]" autocomplete="off" value="<%= ScanList::STATUS_DONE %>">            
          <% else %>
            <i class="scan_list_status fa fa-fw fa-check-square-o "></i>
            <input type="hidden" name="scan_list[status]" autocomplete="off" value="<%= ScanList::STATUS_SCANNING %>">
          <% end %>
          Done?
        <% end %>
      </div>
    </div>

    <hr/>
    <div id="scan_list_<%= scan_list.id %>_item_form_holder" class="form_holder"></div>

  </div>
</div>
