<div class="list-group scan_list" id="scan_list_<%= scan_list.id %>" data-id="<%= scan_list.id %>">
  <div class="list-group-item list-group-item-success">
      <span class="badge"><%= scan_list.assignee %></span>
      <a href="<%= scan_list_path(scan_list) %>"><%= scan_list.name %></a>
      &nbsp; &nbsp;
      <a href="<%= edit_scan_list_path(scan_list) %>" data-remote="true"><i class="fa fa-edit"></i></a>
  </div>
  <div id="edit_scan_list_form_holder_<%= scan_list.id %>" class="form_holder">
  </div>
  <div class="scan_list_items">
    <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
    <a href="#" class="list-group-item">Morbi leo risus</a>
    <a href="#" class="list-group-item">Porta ac consectetur ac</a>
    <a href="#" class="list-group-item">Vestibulum at eros</a>
  </div>
  <div class="list-group-item">
    <div class="row">
      <div class="col-md-10">
        <a href="<%= new_scan_list_scan_item_path(scan_list) %>" data-remote="true">+ Add Item</a>

      </div>
      <div class="col-md-2 text-right">

        <%= simple_form_for scan_list, remote: true do |f| %>
          <div class="btn-group scan_list_status" data-toggle="buttons">
            <% ScanList::SCAN_STATUSES.each do |status| %>
              <label class="btn btn-xs btn-default <%= 'active' if status == scan_list.status %>">
                <input type="radio" name="scan_list[status]" autocomplete="off" value="<%= status %>"
                    <%= 'checked' if status == scan_list.status %>>
                  <%= status.humanize %>
              </label>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <hr/>
    <div id="scan_list_<%= scan_list.id %>_item_form_holder"></div>

  </div>
</div>
