<div class="list-group scan_list" id="scan_list_<%= scan_list.id %>" data-id="<%= scan_list.id %>">
  <a href="<%= scan_list_path(scan_list) %>" class="list-group-item list-group-item-success">
      <span class="badge"><%= scan_list.assignee %></span>
      <%= scan_list.name %>
  </a>
  <div class="scan_list_items">
    <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
    <a href="#" class="list-group-item">Morbi leo risus</a>
    <a href="#" class="list-group-item">Porta ac consectetur ac</a>
    <a href="#" class="list-group-item">Vestibulum at eros</a>
  </div>
    <a href="#" class="list-group-item text-left">+ Add Item</a>
</div>
