<tr>
  <td>
    <%= link_to scan_list.name, scan_list %>
  </td>
  <td>
    <%= scan_list.status.upcase %>
  </td>
  <td>
    <%= scan_list.assignee %>
  </td>
  <td class="text-center">
    <%= scan_list.scan_items.size %>
  </td>
  <td>
    <%= scan_list.created_at.strftime("%b %-d, %Y") %>
  </td>
</tr>
