<div class="btn-group pull-right">
  <%= link_to "Show:", "#", class: "btn btn-link" %>
  <%= link_to "Active", students_path, class: "btn btn-default" %>
  <%= link_to "Inactive", students_inactive_path, class: "btn btn-default" %>
  <%= link_to "Never Logged In", students_never_logged_in_path, class: "btn btn-default" %>
  <%= link_to "Lab Access Only", students_lab_access_only_path, class: "btn btn-default" %>
</div>
