<% title "Inactive  Students", false %>

<div class="row">
	<div class="col-md-12">
		<%= panel(title: "Inactive Students", icon: "ban") do %>

		<div class="row">
			<div class="col-sm-12 col-xs-12">
				<%= render "students/list/links" %>
			</div>
		</div>

		<hr/>
		<% if @students %>
			<%= page_entries_info @students %>
		<% end %>

	<div class="my-3">	<%= paginate @students %></div>

		<%= render "students/list", students: @students %>

		<%= paginate @students %>

		<% if @students.size == 0 %>
			<div class="student blank-slate">
				<i class="fa fa-user"></i>
				<h1>Inactive Students</h1>
				<p>There are no inactive students in Papyrus right now.</p>
			</div>
		<% end %>

		<% end %>
	</div>
</div>
