<% title "Inactive  Students", false %>

<div class="row">
	<div class="col-md-12">
		<%= panel(title: "Never Logged In Students", icon: "ban") do %>

    <div class="row">
      <div class="col-sm-12 col-xs-12">
        <%= render partial: "students/list/links.html.erb" %>
      </div>
    </div>

    <%= paginate @students %>

    <ul class="list-unstyled">
      <% @students.each do |student| %>
        <%= render student, show: "li", show_gravatar: true %>
      <% end %>
    </ul>

    <%= paginate @students %>

    <% if @students.size == 0 %>
      <div class="student blank-slate">
        <i class="fa fa-user"></i>
        <h1>Students</h1>
        <p>There are no never logged in students</p>
      </div>
    <% end %>

	</div>
</div>
