<% title "My Assigned Items", false %>

<div class="row student_view">
	<div class="col-md-12">
		<%= panel(title: "My Assigned Items", icon: "book") do %>
			<ul class="nav nav-pills">
				<li  class="nav-item">
					<%= link_to "All Items", my_items_path, title: "Show all items", class: "nav-link #{"active" unless params[:course]}" %>
				</li>

				<% @courses_grouped.sort.each do |group,  courses| %>
				<li class="nav-item dropdown ">
					<a class="dropdown-toggle nav-link <%= "active" if !params[:course].blank? && params[:course].split("_").first == group %>"
						data-toggle="dropdown" href="#select_courses" title="Select a <%= group %> course">	<%= group %>
						<i class="caret"></i>
					</a>
					<ul class="dropdown-menu">
						<% courses.each do |course| %>
							<li class="<%= "active" if !params[:course].blank? && params[:course].gsub("_", " ") == course %>">
								<%= link_to "#{course}", my_items_path(:course => course.gsub(" ", "_")), title: "Show assigned items for #{course}" %></li>
						<% end %>
					</ul>
				</li>
				<% end %>
			</ul>
			<hr/>

			<%	@items_grouped.each do |type, items| %>
				<ul class="list-group assigned_items mb-3">
					<li class="list-group-item bg-info text-white" title="List of assigned <%= type.pluralize  %>">
						Assigned <%= type.pluralize.humanize %> <%= "- " + params[:course].gsub("_", " ") if params[:course]%>
					</li>

				<% items.each do |item| %>
					<li class="list-group-item <%= cycle("odd", "event") %>">


						<div class="d-flex justify-content-between" title="Files for <%= item.title %>">
							<h5 class="mb-0">
								<%= item.title %>
								<% if item.course_kit? %>
				          <small class="text-muted"><%= item.course_code %></small>
				        <% end %>
							</h5>
							<%= render "item_expiry", item: item %>
						</div>

						<div class="my-2">
							<%= render "item_actions", item: item %>
						</div>

						<%= render partial: "urls", locals: { item: item } %>
						<%= render partial: "files", locals: { item: item } %>


					</li>
				<% end %>
				</ul>
			<% end %>

		<% end %>
	</div>
</div>
