<ul class="nav nav-tabs">
	<li class="<%= 'active' if is_action?("index") %>">
		<%= link_to "Reports Home", stats_path, class: "nav-link #{'active' if is_action?("index")}" %>
	</li>
	<li class="<%=  %>">
		<%= link_to "Assigned Students", stats_assigned_students_path, class: "nav-link #{'active' if is_action?("assigned_students")}" %>
	</li>
	<li class="<%= 'active' if is_action?("item_usage") %>">
		<%= link_to "Items Usage", stats_item_usage_path, class: "nav-link #{'active' if is_action?("item_usage")}"  %>
	</li>
	<li class="<%= 'active' if is_action?("items_history") %>">
		<%= link_to "Items History", stats_items_history_path, class: "nav-link #{'active' if is_action?("items_history")}"  %>
	</li>
</ul>
