<table class="table">
  <tr>
    <th>
      <h6>Coordinator</h6>

      <select name="coordinator" class="form-select">
        <option value="any">Any</option>
        <%= options_from_collection_for_select(User.transcription_assitants, 'id', 'name' , @coordinator.try(:id)) %>
      </select>
    </th>
    <th>
      <h6>Assistant</h6>
      <select name="assistant" class="form-select">
        <option value="any">Any</option>
        <%= options_from_collection_for_select(User.transcription_assitants, 'id', 'name' , @assistant.try(:id)) %>
      </select>
    </th>
    <th>
      <h6>Date start</h6>
      <input type="text" name="start_date" value="<%= @start_date %>" class="datepicker form-control"/>
    </th>
    <th>
      <h6>Date end</h6>
      <input type="text" name="end_date" value="<%= @end_date %>" class="datepicker form-control"/>
    </th>
    <th>
      <h6>Status</h6>
      <select name="status" class="form-select">
        <%= options_for_select([ "Any", "Active", "Inactive" ], params[:status]) %>
      </select>
    </th>
  </tr>
  <tr>
    <td colspan="4">
      <br/>
      <div class="text-align-right">
        <input type="submit" value="Generate" class="btn btn-primary" style="margin-top: -8px;">
      </div>
    </td>
  </tr>
</table>
