<div class="search-box row">
	
	<form action="<%= search_items_path %>?type=<%=params[:type] %>" id="omni_search_form">

		<div class="col-sm-4 col-xs-4">
			<div class="input-group">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
        <input type="text" placeholder="Search By Title, Author, Unique ID, ISBN" name="q" class="form-control"  value="<%= params[:q].try(:strip) %>">
			</div>
		</div>
		<div class="col-sm-4 col-xs-4">
			<button type="submit" class="btn btn-default <%= "btn-primary disabled" if @search_results == "local" %>" name="type" value="local">
				Papyrus
			</button>
			<button type="submit" class="btn btn-default <%= "btn-primary disabled" if @search_results == BibRecord::VUFIND %>" name="type" value="<%= BibRecord::VUFIND %>">
					<%= bib_search_vufind_label %>
			</button>
			<button type="submit" class="btn btn-default <%= "btn-primary disabled" if @search_results == BibRecord::WORLDCAT %>" name="type" value="<%= BibRecord::WORLDCAT %>">
				<%= bib_search_worldcat_label %>
			</button>
		</div>
		<div class="col-sm-4 col-xs-4 results-info">

			<% if  @search_results == "local" %>
				<% @results = @items if @items %>
				<%= page_entries_info @items %>
			<% elsif @search_results == BibRecord::VUFIND %>
				Showing <%= " #{@results.count}" if @results %> closest matches
			<% elsif @search_results == BibRecord::WORLDCAT %>
				Displaying <%= " #{@results.count}" if @results %> closest matches
			<% end %>
		</div>
	</form>

</div>
