<a href="<%= term_path(term) %>" data-remote="true"
  class="list-group-item no-underline:hover term <%="active" if @term && @term.id == term.id %>" id="term_<%= term.id %>" data-id="<%= term.id %>">

  <div class='d-flex justify-content-between align-items-center'>
    <div>
      <%= term.name %>
      <i class="fa fa-spinner fa-spin d-none"></i>
    </div>
    <span class="badge badge-secondary"><%= term.courses.count %></span>
  </div>
</a>
