<li class="term" id="term_<%= term.id %>" data-id="<%= term.id %>">
  <div class="row">
      <div class="col-md-8">
          <a><%= term.name %></a>
          <br/><small>
            <strong>Running</strong> <i class="fa fa-clock-o"></i>
            <%= term.start_date.strftime("%b %d, %Y") %> - <%= term.end_date.strftime("%b %d, %Y") %>
          </small>
      </div>
      <div class="col-md-4">
          <span class="small">Active Courses</span>
          <div class="tag-list">
              <span class="tag-item"><%= pluralize(term.courses.count, "Course") %></span>
          </div>
      </div>
  </div>
</li>
