<% if session[:return_to_user_id]%>
	<li>
		<a href="<%= logout_as_student_path %>">
			<i class="fa fa-bg-primary fa-reply"></i> Papyrus Admin
		</a>
	</li>
<% end %>

<li class="<%= "active" if controller_name == "student_view" && action_name =="index"%>">
	<a href="<%= my_terms_path %>"><i class="fa fa-fw fa-legal"></i>Terms of Use</a>
</li>

<% if session[:terms_accepted]%>
	<li class="<%= "active" if controller_name == "student_view" && action_name =="show"%>">
		<a href="<%= my_items_path %>"><i class="fa fa-fw fa-book"></i> My Items</a>
	</li>
	<li class="<%= "active" if controller_name == "student_view" && action_name =="details"%>">
		<a href="<%= my_details_path %>"><i class="fa fa-fw fa-users"></i> My Details</a>
	</li>
	<li class="<%= "active" if controller_name == "student_view" && action_name =="access_codes"%>">
		<a href="<%= my_access_codes_path %>"><i class="fa fa-fw fa-lock"></i> My Access Codes</a>
	</li>
<% end %>
