<div class="access_code row" id="access_code_<%= access_code.id %>">
	<div class="span4">
		<%= access_code.for %>
	</div>
	<div class="span3">
		<%= access_code.code %>
	</div>
	<div class="span2">
		<% if access_code.expires_at.nil? %>
			Never Expires
		<% else %>
			<%= access_code.expires_at %>
		<% end %>
	</div>	
	<% if can? :manage, access_code %>
		<div class="span1">
			<%= link_to student_access_code_path(@student, access_code), method: :delete, class: "red", data: {remote: true, confirm: "Are you sure?"} do %>
				<i class="icon-trash"></i> Remove
			<% end %>
		</div>			
	<% end %>
</div>

