<%= simple_form_for [@student, @access_code], remote: (request.xhr? ? true: false ) do |f| %>
  <%= f.input :for, input_html: { class: "form-control"} %>
	<%= f.input :code, input_html: { class: "form-control"} %>
  <%= f.input :expires_at, as: :string, input_html: { class: "form-control datepicker"} %>

  <div class="mt-3">
    <%= f.button :submit, "Save Access Code", class: "btn btn-primary" %>

  	<% if request.xhr? %>
  		<%= link_to "Cancel", "#", class: "btn", onclick: "$('#access_code_form_holder').empty(); return false;" %>
  	<% else %>
  		<%= link_to "Cancel", student_path(@student), class: "btn" %>
  	<% end %>
  </div>

	<hr/>

<% end %>
