<% title "#{@student.name} - Student Access Codes" %>
<% title_html do %>
	<h1><%= @student.name %> <small> / Access Codes</small></h1>	
<% end%>

<% @short_view = true %>
<%= render partial: @student %>			

<div class="student-extended">
	<%= render partial: "students/shared/subnav" %>
	
	<br/>
	<section id="access_codes">
		<h2>Access Codes <%= link_to  new_student_access_code_path(@student), class: "btn btn-small", data: { remote: true } do %>
			<i class="icon-plus-sign icon-white"></i> New Access Code
			<% end %>
		</h2>
	
		<div id="access_code_form_holder"></div>
		
		<h5 class="title">Current</h5>
		<div class="access_code heading strong row" id="current_codes">
			<div class="span4">For</div>
			<div class="span3">Code</div>	
			<div class="span2">Expires</div>
			<div class="span1">Action</div>
		</div>
		
		<% @active_access_codes.active.each do |access_code| %>
			<%= render partial: access_code %>
		<% end %>

		<hr/>
		<h5>Expired</h5>
		<div class="access_code strong row">
			<div class="span4">For</div>
			<div class="span3">Code</div>	
			<div class="span2">Expires</div>
			<div class="span1">Action</div>
		</div>
		<hr/>
		<% @expired_access_codes.expired.each do |access_code| %>
			<%= render partial: access_code %>
		<% end %>

	</section>

</div>









