<% title "#{@student.name} - Student Access Codes" %>
<% title_html do %>
	<h1>Access Codes <small> / <%= @student.name %></small></h1>
<% end%>

<% sidebar do %>

	<%= render partial: "students/shared/sidebar"%>

<% end %>

<%= render partial: @student %>

<div class="student">
	<%= render partial: "students/shared/subnav" %>

	<section class="access_codes">
		<h2>Access Codes

			<%= link_to  new_student_access_code_path(@student), class: "btn btn-small float-right btn-primary", data: { remote: true } do %>
			<i class="icon-plus-sign icon-white"></i> New Access Code
			<% end %>
		</h2>

		<div id="access_code_form_holder"></div>

		<div id="current_codes">
			<% @active_access_codes.active.each do |access_code| %>
				<%= render partial: access_code %>
			<% end %>
		</div>


		<div class="expired_codes">
			<h5>Expired Codes</h5>

			<% @expired_access_codes.expired.each do |access_code| %>
				<div class="access_code row" id="access_code_<%= access_code.id %>">
					<div class="span4">
						<span class="for"><%= access_code.for %></span>
						<br/>
						<span class="expires_date">
							<i class="icon-calendar"></i> Expired on <%= access_code.expires_at rescue nil %>
						</span>


					</div>
					<div class="span4">
						<span class="code"><%= access_code.code %></span><br/>
						<span class="type">personal code</span>
					</div>
				</div>

			<% end %>
		</div>

	</section>

</div>
