
<%= simple_form_for @student do |f| %>

  <div class="row">
    <div class="col-md-6">
        <%= f.input :first_name %>
    </div>
    <div class="col-md-6">
      <%= f.input :last_name %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
        <%= f.input :email%>
    </div>
    <div class="col-md-6">
      <%= f.input :username, hint: "Same as student number" %>
    </div>
  </div>

  <%= f.fields_for :student_details do |builder| %>
    <div class="row">
      <div class="col-md-6">
            <%= builder.input :preferred_phone, label: "Preferred Phone #" %>
      </div>
      <div class="col-md-6">
        <%= builder.input :student_number, label: "Student Number"  %>
      </div>
    </div>
    <hr/>

    <div class="row">
      <div class="col-md-6">
        <%= builder.input :transcription_coordinator_id, required: true,  label: "Transcription Coordinator",  collection: User.transcription_assitants %>
      </div>
      <div class="col-md-6">
        <%= builder.input :cds_counsellor, label: "Disabilities Counsellor" %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <%= builder.input :transcription_assistant_id, required: true, label: "Transcription Assistant", collection: User.transcription_assitants %>
      </div>
      <div class="col-md-6">
        <%= builder.input :cds_counsellor_email, required: true, label: "Disabilities Counsellor Email" %>
      </div>
    </div>

    <hr/>


    <div class="row">
      <div class="col-md-6">
        <div class="control-group">
          <label>Preferred Format</label><br/>
          <%= builder.check_box :format_pdf %> PDF
          <%= builder.check_box :format_kurzweil %> KURZWEIL
          <%= builder.check_box :format_daisy %> DAISY
          <%= builder.check_box :format_braille %> BRAILLE<br/>
          <%= builder.check_box :format_word %> WORD DOCUMENT
          <%= builder.check_box :format_large_print %> LARGE PRINT
          <%= builder.check_box :format_epub %> EPUB
          <%= builder.check_box :format_other %> OTHER
        </div>
      </div>
      <div class="col-md-6">
        <%= builder.input :format_note, as: :string, label: "Format Note" %>
      </div>
    </div>

    <hr/>

    <div class="row">
      <div class="col-md-6">
        <label>Additional Info</label><br/>
        <%= builder.check_box :accessibility_lab_access %> Allow Access to Accessibility Lab?
      </div>
      <div class="col-md-6">
        <br/>
        <%= builder.check_box :book_retrieval%> Book Retrieval
      </div>
    </div>

  <% end %>

  <% if @student.errors.size > 0 %>
    <hr/>
    <div class="hide">
      <%= @student.errors.messages.inspect %>
    </div>
  <% end %>

  <hr/>

  <%= f.button :submit,  @student.new_record? ? "Register Student" : "Update Student Registration" , class: 'btn btn-primary' %>
  <%= link_to 'Cancel', @student.new_record? ? students_path : student_path(@student), class: 'btn' %>

<% end %>
