<div class="student standalone">
	<div class="header">
		<h2><%= image_tag "icons/user_default.png", width: "22px"%> <%=  link_to_unless controller.action_name == "show", @student.name, @student %></h2>	
	</div>
	<div class="summary">
		<div class="stats">
			<%= @student.current_items.count %> assigned items, 
			<%= @student.notes.count %> notes
			<span class="divider"> &bull; </span>
			<span class="trivial soft">registered by <%= @student.created_by.name %></span>
		</div>
		<br/>
		<% unless @short_view %>
		<table class="table condensed">
			<tbody>
				<tr>
					<td class="trivial">Student Number</td>
					<td><strong><%= @student.student_details.student_number  if @student.student_details %></strong></td>
					<td class="trivial">Username</td>
					<td><strong><%= @student.username %></strong></td>
				</tr>
				<tr>
					<td class="trivial">Email Address</td>
					<td><strong><%= @student.email %></strong></td>
					<td class="trivial">Cell Phone</td>
					<td><strong><%= @student.student_details.cell_phone if @student.student_details%></strong></td>
				</tr>
				<tr>
					<td class="trivial">Transcription Coordinator</td>
					<td><%  if @student.student_details && @student.student_details.transcription_coordinator %>
						<strong title="<%= @student.student_details.transcription_coordinator.email %>">
						<%= @student.student_details.transcription_coordinator.name%>
						</strong>
						<br/><%= @student.student_details.transcription_coordinator.email %>
						<% end %>
					</td>
					<td class="trivial">Transcription Assistant</td>
					<td><%  if @student.student_details && @student.student_details.transcription_assistant %>
						<strong title="<%= @student.student_details.transcription_assistant.email %>"><%= @student.student_details.transcription_assistant.name %></strong>
						<br/><%= @student.student_details.transcription_assistant.email %>
						<% end %>
					</td>
				</tr>
				<tr>
					<td class="trivial">Welcome Email</td>
					<td>
						<% if @student.email_sent_at %>							
						Sent on <strong><%= @student.email_sent_at.strftime(" %b %d, %Y") %></strong>
						<% else %>					
							<strong>Not Sent Yet.</strong>
						<% end %>
					</td>
					<td colspan="2">
						<%  if can? :create, Student %>
							<%= link_to send_welcome_email_student_url(@student), disable_with: 'sending ...', class: "small" do %>
								Send Welcome Email <i class="icon-envelope"></i>
							<% end %>
						
						<% end %>
					</td>						
				</tr>
			</tbody>
		</table>		
		<% if can? :edit, @student %>
			<%= link_to edit_student_path(@student), class: "btn btn-small btn-success" do %><i class="icon-edit"></i> Update Registration<% end %>				
		<% end %>
		
		<% end %>	
		
		<%= link_to "Back To Student Record", @student,  class: "btn btn-small" if controller.action_name == "audit_trail" %>
	</div>

</div>