<div class="student">
	<div class="header">
		<h2>
			<%=  link_to_unless controller.action_name == "show", @student.name, @student %>
			<% if can?(:edit, @student) && is_controller_and_action?("students", "show")%>
				<%= link_to edit_student_path(@student), class: "btn btn-small btn-success pull-right hidden-phone" do %>
					<i class="icon-edit"></i> Update Registration
				<% end %>
			<% end %>
		</h2>
	</div>
	<div class="summary clearfix">
		<div class="stats">
			<span class="badge badge-success"><%= @student.current_items.size %> items</span>
			<span class="badge badge-inverse"><%= @student.notes.count %> notes</span>
			<span class="badge badge-info">Registered by <%= @student.created_by.name %></span>
		</div>

		<% unless @short_view %>
		<table class="table condensed">
			<tbody>
				<tr>
					<td class="trivial hidden-phone">Student Number</td>
					<td>
						<label class="visible-phone weak">Student Number</label>
						<strong><%= @student.details.student_number %></strong>
					</td>
					<td class="trivial hidden-phone">Username</td>
					<td>
						<label class="visible-phone weak">Username</label>
						<strong><%= @student.username %></strong>
					</td>
				</tr>
				<tr>
					<td class="trivial hidden-phone">Email Address</td>
					<td>
						<label class="visible-phone weak">Email Address</label>
						<strong><%= @student.email %></strong>
					</td>
					<td class="trivial hidden-phone">Preferred Phone</td>
					<td>
						<label class="visible-phone weak">Preferred Phone</label>
						<strong><%= @student.details.preferred_phone %></strong>
					</td>
				</tr>
				<tr>
					<td class="trivial hidden-phone">Transcription Coordinator</td>
					<td>
						<label class="visible-phone weak">Transcription Coordinator</label>
						<strong title="<%= @student.student_details.coordinator.email rescue nil %>">
						<%= format_field @student.details.coordinator.name rescue nil %>
						</strong>
						<br/><%= format_field @student.details.coordinator.email rescue nil %>

					</td>
					<td class="trivial hidden-phone">Transcription Assistant</td>
					<td>
						<label class="visible-phone weak">Transcription Assistant</label>
						<strong title="<%= @student.student_details.assistant.email rescue nil  %>"><%= @student.details.assistant.name rescue nil %></strong>
						<br/><%= @student.details.assistant.email rescue nil %>

					</td>
				</tr>
				<tr>
					<td class="trivial hidden-phone">Welcome Email</td>
					<td>
						<label class="visible-phone weak">Welcome Email</label>
						<% if @student.email_sent_at %>
						Sent on <strong><%= @student.email_sent_at.strftime(" %b %d, %Y") %></strong>
						<% else %>
							<strong>Not Sent Yet.</strong>
						<% end %>
					</td>
					<td colspan="2">
						<%  if can? :create, Student %>
							<%= link_to send_welcome_email_student_url(@student), disable_with: 'sending ...', class: "small" do %>
								Send Welcome Email <i class="icon-envelope"></i>
							<% end %>

						<% end %>
					</td>
				</tr>
				<tr>
					<td class="trivial hidden-phone">
						Requires Orientation?
					</td>
					<td class="strong">
						<% if @student.details.requires_orientation %>
							Orientation is required
						<% else %>
							Orientation is not required
						<% end %>
					</td>
					<td class="trivial hidden-phone">
						Orientation Status
					</td>
					<td class="">
						<% if @student.details.orientation_completed %>

							Completed on <strong><%= @student.details.orientation_completed_at.strftime(" %b %d, %Y") rescue nil%></strong>
						<% else %>
							<span class="weak">Not completed.</span>
							<%= link_to "Complete orientation", complete_orientation_student_path(@student), disable_with: 'completing ...', class: "small" %>
						<% end %>
					</td>
				</tr>
			</tbody>
		</table>

		<%= link_to edit_student_path(@student), class: "btn btn-small btn-success btn-block visible-phone" do %>
			<i class="icon-edit"></i> Update Registration
		<% end %>

		<% end %>

	</div>

</div>
