<div class="student">

	<h1><%= @student.name %></h1>
	<div class="attributes row">
			<div class="span1 key">email: </div><div class="span3 value"><%= @student.email %></div>
			<div class="span1 key">phone: </div><div class="span3 value"><%= @student.details.preferred_phone %></div>
	</div>
	<div class="attributes row">
			<div class="span1 key top-border">Coordinator: </div><div class="span3 value top-border"><%= format_field @student.details.coordinator.name rescue nil %></div>
			<div class="span1 key top-border">Assistant: </div><div class="span3 value top-border"> <%= format_field @student.details.assistant.name rescue nil %></div>
	</div>
	<div class="attributes row">
			<div class="span1 key">CDS Adviser:</div><div class="span3 value"><%= @student.details.cds_adviser %></div>
			<div class="span1 key">Format:</div><div class="span3 value">
				<% formats_array = Array.new %>
				<% formats_array.push "PDF" if @student.details.format_pdf %>
				<% formats_array.push "KURZWEIL" if @student.details.format_kurzweil %>
				<% formats_array.push "DAISY" if @student.details.format_daisy %>
				<% formats_array.push "BRAILLE" if @student.details.format_braille %>
				<% formats_array.push "WORD" if @student.details.format_word %>
				<% formats_array.push "LARGE PRINT" if @student.details.format_large_print %>
				<div>
					<% formats_array.each do | format| %>
						<span class="tag"><%= format.downcase %></span>
					<% end %>
				</div>
			</div>
	</div>
</div>
