<% title "#{@student.name} - Audit Trail" %>
<% title_html do %>
	<h1>Audit Trail <small>/ <%= @student.name %></small></h1>
<% end%>


<% sidebar do %>

	<%= render partial: "students/shared/sidebar"%>

<% end %>

<%= render partial: @student %>

<div class="student">
	<%= render partial: "students/shared/subnav" %>

	<section class="audit_trail">
		<h2>Audit Trail
			<a href="<%= audit_trail_student_path(@student, format: "xlsx") %>"><i class="icon-table"></i> Exel </a>
		</h2>

		<%= render partial:"audit_trail/trail", locals: {:audits_grouped => @audits_grouped}%>
	</section>

</div>
