<% title "Update Student Information", false %>


<div class="row">
	<div class="col-md-12">
		<%= panel(title: "Update Student Information", icon: "edit") do %>
			<%= render 'form' %>
		<% end %>
	</div>
</div>



<%  if !@student.new_record? && can?(:reactivate, Student) %>
<div class="row">
	<div class="col-md-12">
		<%= panel(title: "Deactivate or Reactivate Student", icon: "lock", styles:"panel-danger") do %>
			<p><strong>Deactivate or Reactivate</strong></p>
			<p>You can deactivate a student. This does not delete the student record, just disables their ability to access Papyrus and hides the record from general view.</p>

			<% if ! @student.inactive? %>
				<p><%= link_to @student, confirm: 'Are you sure?', method: :delete, class: 'btn btn-lg btn-warning' do %>
					<i class="fa fa-lock"></i> Deactivate Student
				<% end %></p>
			<% else %>
				<p>
					<%= link_to reactivate_student_path(@student), confirm: 'Are you sure?', class: 'btn btn-lg btn-warning' do %>
					<i class="fa fa-unlock"></i> Reactivate Student
					<% end %>
				</p>
			<% end %>

			<p class="alert alert-warning"><span class="strong">Warning:</span> This action can be reversed.</p>

			<hr/>
			<%  if can?(:perma_destroy, :student) %>
				<%= link_to students_permanent_delete_path(@student), class: "red" do %>
					<i class="fa fa-trash"></i> Destroy Student Record Permanently?
				<% end %>
			<% end %>
		<% end %>
	</div>
</div>
<% end %>
