<% title "Registered Students", false %>

<div class="row">
	<div class="col-md-12">
		<%= panel(title: "Registered Students", icon: "users") do %>

			<div class="row">
				<div class="col-12 col-md-6">
					<%= render partial: "search/search_box_students" %>
				</div>

				<div class="col-12 col-md-6">
					<%= render partial: "students/list/links" %>
				</div>
			</div>

			<div class="my-3"><%= paginate @students %></div>

			<%= render "students/list", students: @students %>


			<%= paginate @students %>

			<% if @students.size == 0 %>
				<div class="student blank-slate">
					<i class="fa fa-user"></i>
					<h1>Students</h1>
					<p>There are no students registerd in Papyrus right now.</p>
					<p>You can <%= link_to "Register a New Student", new_student_path %> to begin using Papyrus.</p>
				</div>
			<% end %>

		<% end %>
	</div>
</div>
