<% title "All Students" %>
<% title_html do %>
		<h1>Students</h2>
<% end %>

<% sidebar do %>
	<%= link_to new_student_path, class: "action-btn green input-block-level" do %>
		<i class="icon-plus"></i> Register New Student
	<% end %>
	<h3>Registering New Studnets</h3>
	<p>A blurb about registering new students</p>
<% end %>

<div class="search-box">
	<form action="<%= search_students_path %>">
		<div class="input-prepend input-block-level">
			<button class="btn pull-right" id="search_submit" type="submit">Search <i class="icon-circle-arrow-right"></i></button>
			<span class="add-on">	<i class="icon-search"></i></span>
			<input type="text" name="q" class="search-input  input-xxlarge" value="<%= params[:q] %>" placeholder="Search Name or Username"/>			
		</div>
	</form>
</div>

<p><strong>Search results <%= "- Total: #{@students.total_count}" if @students%></strong></p>
<%= paginate @students %>

<section>
	<% @students.each do |student| %>
		<div class="clearfix thumbnail <%= cycle("odd", "even") %>" style="margin-bottom: 10px;">
			<%= image_tag "icons/user_default.png", :class => "float-left" %>
			<div style="margin-left: 50px;">
				<h3><a href="<%= student_path(student) %>"><%= student.name %></a></h3>
				<span class="trivial"><%= pluralize(student.current_items.size, "item")%> assigned</span>
			</div>
		</div>

	<% end %>
</section>

<%= paginate @students %>



