<% title "Registered Students", false %>

<div class="row">
	<div class="col-md-12">
		<%= panel(title: "Registered Students", icon: "users") do %>
			<%= render partial: "search/search_box_students" %>

			<%= paginate @students %>

			<ul class="list-unstyled">
				<% @students.each do |student| %>
					<%= render student, show: "li", show_gravatar: true %>
				<% end %>
			</ul>

			<%= paginate @students %>

			<% if @students.size == 0 %>
				<div class="student blank-slate">
					<i class="fa fa-user"></i>
					<h1>Students</h1>
					<p>There are no students registerd in Papyrus right now.</p>
					<p>You can <%= link_to "Register a New Student", new_student_path %> to begin using Papyrus.</p>
				</div>
			<% end %>

		<% end %>
	</div>
</div>
