<% title "Todo Lists", false %>

<div class="row">
	<div class="col-md-12">
		<%= panel(title: "Todo Lists (EXPERIMENTAL)", icon: "list") do %>

			<% if params[:which] == TodoList::STATUS_DONE %>
				<div class="d-flex justify-content-between align-items-center border-bottom pb-1 mb-3">
					<h6 class="mb-0">Completed Lists</h6>
					<%= link_to todo_lists_path(), class: "btn btn-info btn-sm text-right" do %>
						<i class="fas fa-list"></i> Todo Lists
					<% end %>
				</div>

			<% else %>
				<div class="d-flex justify-content-between align-items-center border-bottom pb-1 mb-3">


	          <%= link_to new_todo_list_path, class: "btn btn-xs btn-primary", remote: true do %>
	            <i class="fa fa-plus"></i> Add a Todo List
	          <% end %>

	          <%= link_to todo_lists_path(which: TodoList::STATUS_DONE), class: "text-info" do %>
	            <i class="fa fa-list"></i> Completed Lists
	          <% end %>

	      </div>

				<div id="todo_list_form_holder" class="form_holder">
				</div>
			<% end %>

			<% @todo_lists.each do |todo_list| %>
				<%= render partial: todo_list, locals: { show: "div" } %>
			<% end %>


		<% end %>
	</div>
</div>
