<div class="row student">
	<div class="col-md-12 student" id="student_<%= student.id %>" data-id="<%= student.id %>">
		<%= panel(title: "Student Details", icon: "user") do %>
			<div class="student-header row">
				<div class="col-md-8">
					<h3>
						<%= gravatar(student.email, style: "mm", force: true, size: "20") %>
						<%= student.name %>
					</h3>
				</div>
				<div class="col-md-4">
					<div class="pull-right">
						<a class="btn btn-sm btn-default <%= is_action?("audit_trail", "btn-primary") %>" href="<%= audit_trail_student_path(student) %>" title="Audit Trail">
							<i class="fa fa-list"></i>
						</a>
						<% if is_controller_and_action?("students", "show") && can?(:edit, student) %>
							<a class="btn btn-sm btn-success" href="<%= edit_student_path(student) %>">
								<i class="fa fa-edit"></i> Make Changes
							</a>
						<% end %>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<ul class="list-unstyled list-info">
						<li>
							<span class="fa fa-user fa-fw"></span>
							<label>Email</label>
							<%= format_field student.email %>
						</li>
						<li>
							<span class="fa fa-user fa-fw"></span>
							<label>Student ID</label>
							<%= format_field student.details.student_number %>
						</li>
						<li>
							<span class="fa fa-user fa-fw"></span>
							<label>Coordinator</label>
							<%= format_field student.details.coordinator.name rescue nil %>
						</li>
						<li>
							<span class="fa fa-user fa-fw"></span>
							<label>Assistant</label>
							<%= format_field student.details.assistant.name rescue nil %>
						</li>
					</ul>									
				</div>
				<div class="col-md-6">
					<ul class="list-unstyled list-info">
						<li>
							<span class="fa fa-user fa-fw"></span>
							<label>Preferred Phone</label>
							<%= format_field student.details.preferred_phone %>
						</li>
						<li>
							<span class="fa fa-user fa-fw"></span>
							<label>Format</label>
								<% student.formats_array.each do | format| %>
									<span class="tag"><%= format.downcase %></span>
								<% end %>
								<% unless @student.details.format_note.blank? %>
									<a href="#" class="btn btn-link grey popover-link" data-content="<%= @student.details.format_note %>" data-original-title="Format Note" rel="popover">
										<i class="icon-info-sign"></i>
									</a>
								<% end %>
						</li>

						<li>
							<span class="fa fa-user fa-fw"></span>
							<label>Counsellor</label>
							<%= format_field student.details.cds_counsellor %>
						</li>
						<li>
							<span class="fa fa-user fa-fw"></span>
							<label>Counsellor Email</label>
							<%= format_field student.details.cds_counsellor_email %>
						</li>


					</ul>
				</div>
			</div>


		<% end %>
	</div>
</div>
