<li class="student" id="student_<%= student.id %>" data-id="<%= student.id %>">
  <div class="media">
		<a href="<%= student_path(student) %>" class="gravatar pull-left <%= "d-none" unless show_gravatar %>">
	    <%= gravatar(student.email, style: "mm", force: true) %>
		</a>

    <div class="text-right">
      <% if @current_items_counts %>
      <a href="<%= student_path(student) %>" title="Items" class="btn btn-sm btn-outline-secondary ">
        <i class="fas fa-book"></i> <%= @current_items_counts[student.id] || "0"%>
      </a>
      <% end %>
    </div>

		<div class="media-body">

				<div class="d-flex justify-content-between">
					<a href="<%= student_path(student) %>" class="h6"><%= student.name %></a>

          <% if student.blocked? %>
            <span class="label label-danger text-dark  text-sm"> Blocked</span>
          <% end %>
          <% if student.inactive? %>
            <span class="label label-primary text-dark text-sm"> Inactive</span>
          <% end %>
          <% if student.lab_access_only? %>
            <span class="label label-warning text-dark text-sm"> Lab Access Only</span>
          <% end %>

				</div>

				<div class="row">
          <div class="col-sm-8 col-md-8">
            <i class="fa fa-envelope fa-fw">
            </i> <%= student.email %><br/>
            <span title="Coordinator">
              <i class="fas fa-map-signs fa-fw"></i>
              <%= format_field student.details.coordinator.name rescue nil %></span>
          </div>
          <div class="col-sm-4 col-md-4">
            <i class="fas fa-phone fa-fw"></i> <%= student.details.preferred_phone %><br/>
            <span title="Assistant">
              <i class="fas fa-user-circle fa-fw" title="assistant"></i> 
              <%= format_field student.details.assistant.name rescue nil %></span>
          </div>

				</div>

		</div>


	</div>
</li>
