<li class="student" id="student_<%= student.id %>" data-id="<%= student.id %>">
  <div class="media">
		<a href="<%= student_path(student) %>" class="gravatar pull-left <%= "hide" unless show_gravatar %>">
	    <%= gravatar(student.email, style: "mm", force: true) %>
		</a>

    <div class="pull-right">
      <% if @current_items_counts %>
      <a href="<%= student_path(student) %>" title="Items" class="btn btn-sm btn-default ">
        <i class="fa fa-book"></i> <%= @current_items_counts[student.id] || "0"%>
      </a>
      <% end %>
    </div>

		<div class="media-body">

				<h4 class="media-heading">
					<a href="<%= student_path(student) %>"><%= student.name %></a>
				</h4>

				<div class="row">
          <div class="col-sm-8 col-md-8">
            <i class="fa fa-envelope fa-fw"></i> <%= student.email %><br/>
            <span title="Coordinator"><i class="fa fa-map-signs fa-fw"></i> <%= format_field student.details.coordinator.name rescue nil %></span>
          </div>
          <div class="col-sm-4 col-md-4">
            <i class="fa fa-phone fa-fw"></i> <%= student.details.preferred_phone %><br/>
            <span title="Assistant"><i class="fa fa-adn fa-fw" title="assistant"></i> <%= format_field student.details.assistant.name rescue nil %></span>
          </div>

				</div>

		</div>


	</div>
</li>
