<% title "Searching Courses" %>
<% title_html do %>
		<h1><small>Searching Courses</small></h1>
<% end %>

<form action="<%= search_courses_terms_path %>" class="form-search well">
	<div class="omni_search box-shadow round">	
		<input type="text" name="q" class="input-xlarge search-query" value="<%= params[:q] %>" placeholder="Search Course Code or Name"/>
		<input type="submit" value="Search" class="btn btn-small"/>	
	</div>			
</form>

Found <%= pluralize(@courses.count, "Course") %> for <strong><%= @query%></strong>
<div class="courses">	
	<% @courses.each do |course| %>
		<%= render :partial => course %>
		<br/>
	<% end %>
	
</div>