<% title "Searching Courses" %>
<% title_html do %>
		<h1><small>Searching Courses</small></h1>
<% end %>
<div class="row">
	<div class="col-md-12">
		<%= panel(title: "Terms and Courses", icon: "university", styles: "panel-success term-panel") do %>


			<%= render "terms/shared/menu" %>

			<div class="d-none"><%= @courses.to_sql %></div>

			<h5>Found <%= pluralize(@courses.count, "Course") %> for <strong><%= @query%></strong></h5>

			<div class="courses">
				<% @courses.each do |course| %>
					<%= render partial: course, locals: { show: "div" } %>
					<br/>
				<% end %>

			</div>

		<% end %>
	</div>
</div>
