<table class="audit-trail">

	<% audits_grouped.each do |date, events| %>
		<tr class="date">
			<td colspan="4">
				<span class="trivial"><%= date.strftime('%b %e, %Y')%></span>
			</td>
		</tr>
		<% events.each do |event| %>
			<% type = event.auditable_type %>

			<% type = "AssignedItem" if type == "ItemConnection" %>



		<tr class="audit_event">
			<td class="trivial time"><%= event.created_at.strftime("%R")%></td>
			<td class="what">
				<span class="badge <%= type.underscore.downcase %>">
					<%= defined?(audit_what) ? audit_what : type.tableize.singularize.humanize %>
				</span>
			</td>
			<td class="audit_comment distinct">
				<%= event.comment %>
				<% if event.audited_changes != nil %>
					<br/>
					<small class="trivial hide">
						<% event.audited_changes.each do |key, value| %>
							<% if value.kind_of?(Array) %>
								<strong><%= key %></strong> changed from <em><%= value.first  rescue nil %></em> to <em><%= value.last rescue nil %></em>
							<% else %>
								<strong><%= key %></strong> = <em> <%= value == nil ? "nothing" : value %></em>
							<% end %>
							<br/>
						<% end %>
					</small>
				<% end %>
			</td>
			<td class="who"><code title="<%= event.action %> "><%= event.user.name if event.user %></code></td>
		</tr>
		<% end %>
	<% end %>
</table>
