<div class="search-box row">
	<form action="<%= search_items_path(type: params[:type]) %>" id="omni_search_form">
		<div class="col-sm-4 col-xs-4">
			<div class="input-group">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
        <input type="text" placeholder="Search By Title, Author, Unique ID, ISBN" name="q" class="form-control"  value="<%= params[:q].try(:strip) %>">
			</div>
		</div>
		<div class="col-sm-4 col-xs-4">
			<a href="<%= search_items_path %>" class="btn btn-default <%= "btn-primary disabled" if @search_results == "local" %> search_items_button">Papyrus</a>
			<a href="<%= search_items_path(type: BibRecord::VUFIND) %>" class="btn btn-default  <%= "btn-primary disabled" if @search_results == BibRecord::VUFIND %> search_items_button">
				<%= bib_search_vufind_label %>
			</a>
			<a href="<%= search_items_path(type: BibRecord::WORLDCAT) %>" class="btn btn-default <%= "btn-primary disabled" if @search_results == BibRecord::WORLDCAT %> search_items_button">
				<%= bib_search_worldcat_label %>
			</a>
		</div>
		<div class="col-sm-4 col-xs-4 results-info">
			<% if  @search_results == "local" %>
				Showing <%= @results.count%> / <%= " #{@results.total_count}" %> items
			<% elsif @search_results == BibRecord::VUFIND %>
				Showing <%= " #{@results.count}" if @results %> closest matches
			<% elsif @search_results == BibRecord::WORLDCAT %>
				Displaying <%= " #{@results.count}" if @results %> closest matches
			<% end %>
		</div>
	</form>

</div>
