<div class="search-box">
	<form action="<%= search_items_path(type: params[:type]) %>" id="omni_search_form">

			<div class="sources">
				<a href="<%= search_items_path %>" class="btn <%= "active" if @search_results == "local" %> search_items_button">Papyrus</a>
				<a href="<%= search_items_path(type: BibRecord::VUFIND) %>" class="btn <%= "active" if @search_results == BibRecord::VUFIND %> search_items_button">
					<%= bib_search_vufind_label %>
				</a>
				<a href="<%= search_items_path(type: BibRecord::WORLDCAT) %>" class="btn <%= "active" if @search_results == BibRecord::WORLDCAT %> search_items_button">
					<%= bib_search_worldcat_label %>
				</a>
			</div>
			<div class="search-field input-prepend">
				<span class="add-on">	<i class="icon-search"></i></span>
				<input type="text" name="q" value="<%= params[:q].try(:strip) %>" class="search-input xinput-block-level" placeholder="Search By Title, Author, Unique ID, ISBN"/>
				<button class="btn hidden-phone" id="search_submit" type="submit">Search <i class="icon-circle-arrow-right"></i></button>
			</div>
	</form>
</div>
