<form class="well form-search"  action="<%= search_items_path(type: bib_search_type) %>" id="omni_search_form">

	<input type="text" name="q" value="<%= params[:q] %>" class="input-medium search-query span4" placeholder="Search By Title, Author, Unique ID, ISBN"/>
	<input type="submit" class="btn" value="Search"/>
	
	
	<p style="margin: 20px 0 0;">	
		<a href="<%= search_items_path %>" class="btn <%= "active" if params[:type] == "local" %> search_items_button">Papyrus</a>
		<a href="<%= search_items_path(type: bib_search_type) %>" class="btn <%= "active" if params[:type] == bib_search_type %> search_items_button"><%= bib_search_label %></a>
	</p>
</form>

