<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %> | <%= controller.controller_name.humanize %> - Papyrus | LAS</title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>

		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta charset="UTF-8">
  </head>
  <body>

  <h3> Without Encoding Fields</h3>
  <table class="table">
    <tbody>
      <% @docs.each_with_index do |item, index| %>
        <tr>
          <td class="count hidden-phone" valign="top"><%= index + 1 %>.</td>
          <td class="record" valign="top">

              <strong><%=  item["title_full"]rescue "On Title "%></strong><br/>
              <small><%=  (item["author"] ? item["author"] : item["author2"] ? item["author2"].join(", ") : "") rescue "On Author"%></small>


            <hr/>
          </td>
        </tr>

      <% end %>
    </tbody>
  </table>
  <hr/>

  <h3>With Encoding Field</h3>
  <table class="table">
    <tbody>
      <% @docs.each_with_index do |item, index| %>
        <tr>
          <td class="count hidden-phone" valign="top"><%= index + 1 %>.</td>
          <td class="record" valign="top">
            <strong><%=  item["title_full"] rescue "On Title "%></strong><br/>
            <small><%=  (item["author"] ? item["author"] : item["author2"] ? item["author2"].join(", ") : "") rescue "On Author"%></small>

            <hr/>
          </td>
        </tr>

      <% end %>
    </tbody>
  </table>
</body>
</html>
