<!-- WORLDCAT RESULTS -->
<% unless @results.nil? || @results.size == 0 %>
  <div class="cat-search-results">

    <% @results.each_with_index do |item, index| %>

    <div class="media">
      <a href="javascript:;" class="pull-left">
        <% if item.isbn.first %>
          <div class="book-cover">
            <%= image_tag "icons/files/photo.png",
            data: { isbn: item.isbn.first.gsub(/[^0-9]+/, ''), size: "large"}, class: "google-bookcover" %>
          </div>
        <% else %>
          <div class="book-cover unavailable">
            <span class="fa fa-book fa-5x"></span><br/>
            No Cover Available
          </div>
        <% end %>


      </a>
      <div class="media-body">
          <h4 class="media-heading">
            <%= format_worldcat_field item.title %>
          </h4>
          <ul class="list-unstyled list-info">
            <li class="ng-binding">
                <span class="fa fa-user fa-fw"></span>
                <label>Author</label>
                <%= format_worldcat_field item.author %>
            </li>
            <li>
                <span class="fa fa-print fa-fw"></span>
                <label>Publisher</label>
                	<%= format_worldcat_field item.publisher %>
            </li>
            <li>
                <span class="fa fa-language fa-fw"></span>
                <label>Edition</label>
                <%= format_worldcat_field item.edition, "Edition" %>
            </li>
            <li>
                <span class="fa fa-barcode fa-fw"></span>
                <label>ISBN</label>
              	<%= format_worldcat_field item.isbn, "ISBN" %>
            </li>
            <li>
                <span class="fa fa-file-text fa-fw"></span>
                <label>Description</label>
                <%= format_worldcat_field item.physical_description, "Description" %>
            </li>
          </ul>
      </div>
    </div>

    <% end %>

  </div>

<% else %>
  <div class="blank-slate">
    <i class="icon-question-sign"></i>
    <h1>No Search Terms</h1>
    <p>Please specify a search term in the search box.</p>
  </div>
<% end %>
