<li class="access_code" id="access_code_<%= access_code.id %>">

  <div class="pull-right date">

    Exp: <%=  access_code.expires_at.nil? ? "never" : access_code.expires_at %>
    <i class="fa fa-calendar"></i>
  </div>
  <h4><%= access_code.for %></h4>

  <div class="pull-right access">
    <%=  access_code.shared? ? "Group" : "Personal" %>
    <i class="fa fa-legal"></i>

    <% if can?(:manage, access_code) && !access_code.shared?  && !access_code.expired? %>
        <%= link_to student_access_code_path(@student, access_code), method: :delete, class: "remove red", data: {remote: true, confirm: "Are you sure?"} do %>
           &times;
      <% end %>
    <% end %>
  </div>
  <div class="code">
    <%= access_code.code %>
  </div>


</li>
