<li class="access_code" id="access_code_<%= access_code.id %>">


  <div class="d-flex justify-content-between align-items-center">
    <h4><%= access_code.for %></h4>
    <div class="date">
      Exp: <%=  access_code.expires_at.nil? ? "never" : access_code.expires_at %>
      <i class="far fa-calendar ms-1"></i>
    </div>
  </div>

  <div class="d-flex justify-content-between align-items-center">
    <div class="text-lg">
      <%= access_code.code %>
    </div>
    <div class="pull-right access">
      <%=  access_code.shared? ? "Group" : "Personal" %>
      <i class="fas fa-lock ms-1"></i>

      <% if can?(:manage, access_code) && !access_code.shared?  && !access_code.expired? %>
        <%= link_to student_access_code_path(@student, access_code), method: :delete, class: "ms-2 remove text-danger", data: {remote: true, confirm: "Are you sure?"} do %>
          &times;
        <% end %>
      <% elsif can?(:manage, access_code) && is_controller?("shared_access_codes") && !access_code.expired?  %>
  			<%= link_to shared_access_code_path(access_code), method: :delete, class: "ms-2 text-danger remove", data: {remote: true, confirm: "Are you sure?"} do %>
  				&times;
  			<% end %>
      <% end %>
    </div>
  </div>



</li>
