
<% title "Audit Trail / #{@user.name}", false %>
<div class="row">
	<div class="col-md-12">
		<%= panel(title: "Audit Trail / #{@user.name} ", icon: "history") do %>
			<div class="student-header row">
				<div class="col-md-10">
					<h4>
						<a class="btn btn-xs btn-default" href="<%= users_path() %>" title="Back To Student Details">
							<i class="fa fa-chevron-left"></i>
						</a>
						<%= @user.name %>
					</h4>
				</div>
			</div>
			Audit Trail Year:
			<% (@end_year - @start_year + 1).times do |n| %>
				&nbsp; &nbsp;
				<%= link_to  audit_trail_user_path(@user, year:  @start_year + n) do %>				
					<% if (@start_year + n).to_i == @current_year.to_i %>
						<%= "&raquo; #{@start_year + n} &laquo;".html_safe %>
					<% else %>
						 <%= @start_year + n %>
					<% end %>
				<% end %>
			<% end %>


			<hr/>

			<%= render partial:"audit_trail/trail", locals: {audits_grouped: @audits_grouped} %>

		<% end %>
	</div>
</div>
