<% title "Blocked Users", false%>



<div class="row">
	<div class="col-md-12">
		<%= panel(title: "All users", icon: "users") do %>

			<%= render partial: "user_nav" %>


			<% if @users.size == 0 %>
				<p class="mt-4">There are not blocked users.</p>
			<% end %>

			<table class="table table-condensed mt-4">
				<tr>
				  <th>Name</th>
				  <th>Role</th>
					<th>Joined On</th>
					<th></th>
				</tr>
				<% @users.each do |user| %>
					<tr>
						<td><%= user.name %></td>
						<td><%= user.role %></td>
						<td><%= user.created_at.strftime("%b %d, %Y") %></td>
						<td>
							<%= link_to "Unblock User", edit_user_path(user), class: "btn btn-sm btn-danger"%>
							<%= link_to audit_trail_user_path(user), class: "btn btn-sm btn-outline-secondary" do %>
								<i class="fa fa-history" title="Audit Trail"></i>
							<% end %>
						</td>
					</tr>
				<% end %>
			</table>
		<% end %>
	</div>
</div>
