<% title "Users",false %>

<div class="row">
	<div class="col-md-12">
		<%= panel(title: "All users", icon: "users") do %>

			<%= render partial: "user_nav" %>
			<hr/>

			<table class="table">
			  <tr>
				 	<th>Name</th>
				  <th>Role</th>
				  <th>Username</th>
					<th class="hidden-phone">Joined On</th>
					<th class="hidden-phone">Last Logged in</th>
					<th></th>
			  </tr>
			  <% for user in @users %>
			    <tr>
			      <td><%= user.name %></td>
			      <td><%= user.role %></td>
				  	<td><%= user.username %></td>
				 	 	<td class="hidden-phone"><%= user.created_at.strftime("%b %d, %Y") %></td>
						<td class="hidden-phone"><%= user.last_logged_in_at.strftime("%b %d, %Y at %I:%M%p") rescue nil %>
			      <td>
							<%= link_to edit_user_path(user), class: "btn btn-xs btn-success" do %>
								<i class="fa fa-pencil" title="Edit Details"></i>
							<% end %>
							<%= link_to audit_trail_user_path(user), class: "btn btn-xs" do %>
								<i class="fa fa-history" tilte="Audit Trail"></i>
							<% end %>
						</td>
			    </tr>
			  <% end %>
			</table>
		<% end %>
	</div>
</div>
