<div class="list-group-item course" id="course_<%= course.id %>" data-id="<%= course.id %>">
	<h5 class="title">
		<% if can? :edit, course %>
			<%= link_to course.title, edit_term_course_path(course.term, course) %>
		<% end %>
		<span class="course_name hide"><%= course.title %></span>
		<div class="pull-right">

			<%= render "courses/shared/syllabus_menu", course: course %>

		</div>
	</h5>
	<div class="code small">
		<%= course.code %>
		<% if can? :edit, course %>
			&nbsp;&nbsp;	<%= link_to edit_term_course_path(course.term, course) do %>
				<i class="fa fa-edit"></i>
			<% end %>
		<% end %>
	</div>
</div>
