<div class="list-group-item course">
	<h5 class="title">
		<%= link_to course.title, edit_term_course_path(@term, course) %>
		<span class="course_name hide"><%= course.title %></span>
		<div class="pull-right">

			<% if course.syllabus == nil %>
				<%= link_to new_course_document_path(course), remote: true, class: "btn btn-xs" do %>
		      <i class="fa fa-upload" title="Upload Syllabus"></i>
		    <% end %>
			<% else %>
				<%= link_to download_document_path(course.syllabus), remote: true, class: "btn btn-xs" do %>
					<i class="fa fa-download" title="Downdload Syllabus"></i>
				<% end %>
				<%= link_to edit_course_document_path(course, course.syllabus), remote: true, class: "btn btn-xs" do %>
					<i class="fa fa-upload" title="Upload Syllabus"></i>
				<% end %>
			<% end %>

			<% if @term%>
				<%= link_to edit_term_course_path(@term, course) do %>
					<i class="fa fa-edit"></i>
				<% end %>
			<% end %>
		</div>
	</h5>
	<div class="code small"><%= course.code %></div>
</div>
