<%= simple_form_for [@scan_list, @scan_item], html: { remote: true } do |f| %>
  <%= f.input :item_id, as: :hidden %>
  <div class="row">
    <div class="col-md-12">
      <%= f.input :summary, label: false, input_html: { placeholder: "Scan Note Summary" } %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :assigned_to_id, collection: User.active.not_students, label: false, input_html: { placeholder: "Assigned To" }  %>
    </div>
    <div class="col-md-6">
      <%= f.input :due_date, as: :string, label: false, input_html: { placeholder: "Due Date", class: "datepicker" }  %>
    </div>
  </div>

  <hr/>
  <%= f.button :submit,  class: 'btn btn-primary' %>

  <% if request.xhr? %>
    <%= link_to "Cancel", "#", class: "btn btn-default", onclick: "$('#new_scan_item_form_holder').empty(); return false;" %>
  <% else %>
    <%= link_to 'Cancel', @scan_item.new_record? ? scan_lists_path : scan_list_path(@scan_list), class: 'btn btn-default' %>
  <% end %>

<% end %>
