<% if @scan_item.errors.size == 0  %>
  $("#scan_item_<%= @scan_item.id %>").replaceWith('<%=escape_javascript render @scan_item, show: "div" %>');
<% else %>
  $("#edit_scan_item_form_holder_<%= @scan_item.id %>").empty();
  $('#edit_scan_item_form_holder_<%= @scan_item.id %>').prepend('<%=escape_javascript render("scan_items/form") %>');
<% end %>

$(".scan_list_status").click(function() {
  $(this).parents('form:first').submit();
});


// Show upload form if status is DONE
<% if @scan_item.status == ScanItem::STATUS_DONE %>
  <% @item = @scan_item.item %>
  $("#upload_form_holder").remove();
  $("body").append("<div id='upload_form_holder'></div>");
  $("#upload_form_holder").append("<%= escape_javascript render("attachments/upload_files_modal") %>");

  // setup formstone plugin
  load_formstone_upload_plugin();

  $("#upload_files_modal").modal('show');


<% end %>
