<div class="attachment">
	<div class="row">
		<div class="span attachment-icon hidden-phone">
			<% if attachment.is_url? %>
				<a href="<%= attachment.url %>">
					<%= image_tag("icons/files/web_file.png", alt: "URL") %>
				</a>
			<% else %>
				<a href="<%= get_file_item_attachment_url(attachment.item, attachment) if attachment.file? %>">
		    	<%= image_tag("icons/files/#{attachment.file.file.extension.downcase}_file.png", alt: "#{attachment.file.file.extension.downcase}") %>
				</a>
			<% end %>
		</div>	
		
		<% if attachment.is_url? %>
			<div class="span4 attachment-details">
				<h4>
					<%= attachment.name %>
					<span class="weak"><%= "Access Code Required" if attachment.access_code_required? %></span>				
				</h4>
				<p title="<%= attachment.url %>">
					<%= truncate(attachment.url, length: 35) %> 
					<span class="weak hidden-phone">Created <%= time_ago_in_words attachment.created_at %></abbr> ago by <%= attachment.user.name %></span>
				</p>
			</div>
		<% else %>
			<div class="span4 attachment-details">
				<h4>
					<a href="<%= get_file_item_attachment_url(attachment.item, attachment) if attachment.file? %>"><%= attachment.name %></a> 
					<span class="weak"><%= number_to_human_size attachment.file.file.size %></span>
				</h4>
				<p>Updated <abbr title="<%= attachment.created_at.strftime("%b %e %Y, %l:%M %p") %>">
					<%= time_ago_in_words attachment.created_at %></abbr> ago by <%= attachment.user.name %></p>
			</div>
		<% end %>
		<div class="span2 attachment-actions pull-right">
			
			<% if attachment.is_url? %>
				<a class="action" href="<%= attachment.url %>">
					<i class="icon-link"></i> Visit URL
				</a>
			<% else %>
				<a class="action" href="<%= get_file_item_attachment_url(attachment.item, attachment) if attachment.file? %>">
					<i class="icon-download"></i> Download File
				</a> 
			<% end %>
			
			<% if can? :update, Attachment %>
				<a class="action small hidden-phone" href="<%= edit_item_attachment_path(attachment.item, attachment) %>">
					<i class="icon-edit"></i> Update
				</a>
			<% end %>

			<%  if can? :destroy, Attachment %>
				<%= link_to [attachment.item, attachment], confirm: 'Are you sure?',method: :delete, class: "action small hidden-phone" do %>
						<i class="icon-trash"></i> Delete
				<% end %>
			<% end %>
						
		</div>		
		<div class="span2 select-multiple pull-right hide">
			<input type="checkbox" name="ids[]" value="<%= attachment.id %>"/> Deleted this one?
		</div>
	</div>
</div>
