<%= simple_form_for [@item, @attachment], html: {multipart: true } do |f| %>

				<%= f.input :name, hint: "The name of the file, i.e. Chapter One", :input_html => { :class => "span4" } %>
				<%= f.check_box :full_text %> Full Text Version

				<hr/>
				<%= f.label "Attached File" %>

				<div id="file_name" class="<%= "d-none" unless @attachment.file? %>">

					<%= File.basename(@attachment.file_url) if @attachment.file? %>
					<% if @attachment.file? %>
						<br/><a href="#" onclick="$('#file_upload').removeClass('d-none'); $(this).addClass('d-none');">
							Change <i class="fa fa-upload"></i>
						</a>
					<% end %>
				</div>
				<div id="file_upload" class="<%= "d-none" if @attachment.file? %>">
				   <%= f.file_field :file %>

					<%= f.hidden_field :file_cache %><br/>
					<%= f.error :file %>
				</div>



				<hr/>
				<%= f.button :submit, "Update File", class: "btn btn-primary" %>
				<%= link_to "Cancel", item_path(@item), class: "btn btn-outline-secondary"%>

<% end %>
