


<%= simple_form_for @student_details, :url => student_details_path(@student), :html => { :class => "form-vertical standout" } do |f| %>

<div class="standout">
	<div class="row">
		<div class="span4">
			<h5 class="section">Registration Details</h5>
			<%= f.label :requires_orientation %>
			<%= f.input :requires_orientation, label: false, as: :radio_buttons, input_html: { class: 'form-check-input' } %>
		</div>
	</div>
</div>



<div class="row">
	<div class="span8">
		<h5 class="section">Preferred Format</h5>
		<label class="checkbox inline"><%= f.check_box :format_pdf %> PDF</label>
		<label class="checkbox inline"><%= f.check_box :format_kurzweil %> KURZWEIL</label>
		<label class="checkbox inline"><%= f.check_box :format_daisy %> DAISY</label>
		<label class="checkbox inline"><%= f.check_box :format_braille %> BRAILLE</label>
		<label class="checkbox inline"><%= f.check_box :format_word %> WORD DOCUMENT</label>
		<label class="checkbox inline"><%= f.check_box :format_large_print %> LARGE PRINT</label>
		<label class="checkbox inline"><%= f.check_box :format_other %> Other</label>
		<hr/>
		<%= f.input :format_note, as: :string, label: "Format Note", input_html: { class: "span4" } %>
	</div>
</div>




<hr/>
<div class="row">
	<div class="span4 offset4" style="text-align: right;">
	  <%= f.button :submit, class: 'btn btn-primary' %>
	  <%= link_to 'Cancel', student_path(@student), class: 'btn' %>
	</div>
</div>

<% end %>

<script type="text/javascript">
	$(document).ready(function() {
		$( ".datepicker" ).datepicker({ dateFormat: 'yy-mm-dd' });
	});
</script>
