<% title "#{@student.name} - Details" %>
<% title_html do %>
	<h1><%= @student.name %> - Additional Details
		<% if @student.inactive? %>
			<span class="red">Inactive</span>
		<% end %>
	</h1>
<% end%>

<% sidebar do %>
	<%= render partial: "students/shared/sidebar"%>
<% end %>


<%= render partial: @student %>	

<div class="student-extended">
	<%= render partial: "students/shared/subnav" %>
	<%= render partial: "student_details"%>
</div>