<% title "Dashboard", false %>

<div class="row">
	<div class="col-md-6">
		<% if @scan_lists.size > 0 %>
		<%= panel(title: "My Scan Lists", icon: "list") do %>
				<table class="table" id="scan_lists">
					<thead>
						<tr>
							<th>Name</th>
							<th>Status</th>
							<th>Assigned To</th>
							<th>Items #</th>
							<th>Created</th>
						</tr>
					</thead>
					<tbody>
						<% @scan_lists.each do |scan_list| %>
							<%= render partial: scan_list, locals: { show: "tr" } %>
						<% end %>
					</tbody>
				</table>
			<% end %>
		<% end %>

		<%= panel(title: "Recent Items", icon: "book", styles:"panel-info") do  %>

			<table class="table">
				<tr>
					<th>Title</th>
					<th>Author</th>
					<th><i class="fa fa-user"></i></th>
					<th><i class="fa fa-file"></i></th>
				</tr>
				<% if @recently_worked_with_items.size == 0  %>
					<tr class="item" id="item_<%= item.id %>">
						<td colspan="4">	You have not worked on any items recently.</td>
					</tr>
				<% end %>

				<% @recently_worked_with_items.each_with_index do |item, index| %>
					<tr class="item" id="item_<%= item.id %>">
						<td>
							<%= link_to_unless controller.action_name == "show", item.title, item_path(item) do %><%= item.title %><% end %>
						</td>
						<td>
							<%= format_field item.author %>
						</td>
						<td>
							<%= item.students.count %>
						</td>
						<td>
							<%= item.attachments.available.count %>
						</td>
					</tr>
				<% end %>

			</table>
		<% end %>
	</div>
	<div class="col-md-6">
		<% if @scan_items.size > 0 %>
			<%= panel(title: "My Scan Items", icon: "list") do %>
				<table class="table" id="scan_items">
					<thead>
						<tr>
							<th>Summary</th>
							<th>Due Date</th>
						</tr>
					</thead>
					<tbody>
						<% @scan_items.each do |scan_item| %>
							<%= render partial: scan_item, locals: { show: "tr" } %>
						<% end %>
					</tbody>
				</table>
			<% end %>
		<% end %>

		<%= panel(title: "My Students", icon: "users", styles:"panel-warning") do  %>
		<%= @timing %><br/>
		<%= @timing2 %>
			<ul class="list-unstyled">
				<% @students.each do |student| %>
					<%= render student, show: "li" %>
				<% end %>
			</ul>
		<% end %>
	</div>
</div>
