<% title "Dashboard", false %>

<div class="row">
	<div class="col-md-6">
		<%= panel(title: "Recent Items", icon: "book") do  %>

			<table class="table">
				<tr>
					<th>Title</th>
					<th>Author</th>
					<th><i class="fa fa-user"></i></th>
					<th><i class="fa fa-file"></i></th>
				</tr>
				<% if @recently_worked_with_items.size == 0  %>
					<tr class="item" id="item_<%= item.id %>">
						<td colspan="4">	You have not worked on any items recently.</td>
					</tr>
				<% end %>

				<% @recently_worked_with_items.each_with_index do |item, index| %>
					<tr class="item" id="item_<%= item.id %>">
						<td>
							<%= link_to_unless controller.action_name == "show", item.title, item_path(item) do %><%= item.title %><% end %>
						</td>
						<td>
							<%= format_field item.author %>
						</td>
						<td>
							<%= item.students.count %>
						</td>
						<td>
							<%= item.attachments.available.count %>
						</td>
					</tr>
				<% end %>

			</table>
		<% end %>
	</div>
	<div class="col-md-6">
		<%= panel(title: "My Students", icon: "users") do  %>
			<ul class="list-group">
				<% @students.each do |student| %>
					<li class="list-group-item">
					 <span class="badge badge-success">
						 <%= pluralize(@current_items_counts[student.id], "item")%>
					 </span>
					 <h5 class="list-group-item-heading">
						 <a href="<%= student_path(student) %>"><%= student.name %></a>
					 </h4>
					 <p class="list-group-item-text">
						<i class="fa fa-envelope-o strong"></i> <%= student.email %>
						<i class="fa fa-mobile-phone fa-lg"></i> <%= student.student_details.preferred_phone %>
					</p>
					</li>
				<% end %>
			</ul>
		<% end %>
	</div>
</div>
