<% title "Dashboard", false %>


<div class="row">
	<div class="col-md-6">
		<% if @todo_lists.size > 0 %>
		<%= panel(title: "My Todo Lists", icon: "list") do %>
				<table class="table" id="todo_lists">
					<thead>
						<tr>
							<th>Name</th>
							<th>Status</th>
							<th>Assigned To</th>
							<th>Items #</th>
							<th>Created</th>
						</tr>
					</thead>
					<tbody>
						<% @todo_lists.each do |todo_list| %>
							<%= render partial: todo_list, locals: { show: "tr" } %>
						<% end %>
					</tbody>
				</table>
			<% end %>
		<% end %>

		<%= panel(title: "Work History", icon: "list", styles:"panel-info") do  %>


			<%= render partial: "work_history" %>
		<% end %>
	</div>
	<div class="col-md-6">
		<% if @todo_items.size > 0 %>
			<%= panel(title: "My Todo Items", icon: "list") do %>
				<table class="table" id="todo_items">
					<thead>
						<tr>
							<th>Summary</th>
							<th>Due Date</th>
						</tr>
					</thead>
					<tbody>
						<% @todo_items.each do |todo_item| %>
							<%= render partial: todo_item, locals: { show: "tr" } %>
						<% end %>
					</tbody>
				</table>
			<% end %>
		<% end %>

		<% if @students.size > 0 %>
			<%= panel(title: "My Students", icon: "users", styles:"panel-warning") do  %>

				<ul class="list-unstyled">
					<% @students.each do |student| %>
						<%= render student, show: "li" %>
					<% end %>
				</ul>
			<% end %>
		<% end %>
	</div>
</div>
