<% title "Bib Search Settings", false %>

<div class="row">
	<div class="col-md-8">
		<%= panel(title: "Bib Search Settings", icon: "cog") do %>
			<p class="alert alert-danger"><strong>Warning:</strong> Changing these values might disable BibCat Search capabilities. Please be careful.</p>

			<%= simple_form_for PapyrusSettings.new, url: settings_path, method: :patch do |f| %>


			<h5 class="text-black">VuFIND Settings</h5>

				<%= f.input :vufind_url, label: "VuFind URL" %>
				<%= f.input :vufind_id_prefix, label: "ID Prefix For VuFind Items" %>
				<%= f.input :vufind_label, label: "VuFind Search Label"%>

			<h5 class="text-black mt-4">WORLDCAT Settings</h5>

				<%= f.input :worldcat_key, label: "API Key" %>
				<%= f.input :worldcat_id_prefix, label:"ID Prefix for WORLDCAT Items" %>
				<%= f.input :worldcat_label, label: "WORLDCAT Search Label" %>

				<input type="hidden" name="return_to" value="bib_search"/>
				<%= f.submit "Save Settings", class: "btn btn-success mt-3" %>
			<% end %>
		<% end %>
	</div>
	<div class="col-md-4">
		<%= panel(title: "Bib Search Settings Help", icon: "question") do %>
			<dl>
				<dt>VuFIND Url</dt>
				<dd>The url to VuFIND index. This is where the search query would be sent</dd>
				<dt>ID Prefix For VuFIND Items</dt>
				<dd>When importing from VuFIND, <%= PapyrusSettings.app_name %> will use VuFIND Item id with this prefix as a unique ID for new item.</dd>
				<dt>VuFIND Search Label</dt>
				<dd>The Name of the VuFIND Search to display in the Items search page. i.e. VuFind</dd>
				<hr/>
				<dt>API Key</dt>
				<dd>A unique key that allows Papyrus to search WORLDCAT database.</dd>
				<dt>ID Prefix For WORLDCAT Items</dt>
				<dd>When importing from WORLDCAT, <%= PapyrusSettings.app_name %> will use WORLDCAT Item id with this prefix as a unique ID for new item.</dd>
				<dt>WORLDCAT Search Label</dt>
				<dd>The Name of the WORLDCAT Search to display in the Items search page. i.e. Worldcat</dd>
			</dl>
		<% end %>
	</div>
</div>


<% sidebar do %>
  <h3>Bib Search Help</h3>

<% end %>
