<% title "General Settings", false %>

<div class="row">
	<div class="col-md-8">
		<%= panel(title: "Email Settings", icon: "cog") do %>
			<%= simple_form_for PapyrusSettings.new, url: settings_path, method: :patch do |f| %>

				<ul class="nav nav-tabs" role="tablist">
					<li class="active">
						<a href="#general_email_settings" role="tab" data-toggle="tab" class="nav-link active">General</a>
					</li>
					<li><a href="#welcome_email_settings" role="tab" data-toggle="tab" class="nav-link">Welcome </a></li>
					<li><a href="#lab_access_email_settings" role="tab" data-toggle="tab" class="nav-link">Lab Access </a></li>
					<li><a href="#notification_email_settings" role="tab" data-toggle="tab" class="nav-link">Notification </a></li>
					<li><a href="#item_assigned_email_settings" role="tab" data-toggle="tab" class="nav-link">Item Assigned </a></li>
					<li><a href="#helpful_tags_settings" role="tab" data-toggle="tab" class="nav-link">Helpful Tags</a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content mt-4">
					<div class="tab-pane active" id="general_email_settings">
						<%= f.input :email_allow, as: :radio_buttons, label: "Enable Email Communication?" %>
						<%= f.input :email_from, label: "From Address", input_html: { class: "form-control" } %>
					</div>
					<div class="tab-pane" id="welcome_email_settings">
						<h5 class="text-black">Welcome Email</h5>
						<%= f.input :email_welcome_subject, label: "Subject", input_html: { class: "form-control" } %>
						<p class="help-block small">Available Body Tags:
							{{sender_name}} | {{student_name}} | {{date}} | {{date-short}} | {{application_url}} | {{application_name}} | {{organization_name}}</p>
						<%= f.input :email_welcome_body, as: :text, label: "Body", input_html: { rows: 20, class: "form-control"  } %>
					</div>
					<div class="tab-pane" id="lab_access_email_settings">
						<h5 class="text-black">Lab Access Email</h5>
						<%= f.input :email_lab_access_enable, as: :radio_buttons, label: "Enable Lab Access Welcome Email?" %>

						<%= f.input :email_lab_access_subject, label: "Subject", input_html: { class: "form-control" } %>
						<p class="help-block small">Available Body Tags:
							{{sender_name}} | {{student_name}} | {{date}} | {{date-short}} | {{application_url}} | {{application_name}} | {{organization_name}}</p>
						<%= f.input :email_lab_access_body, as: :text, label: "Body", input_html: { rows: 20, class: "form-control"  } %>
					</div>
				<div class="tab-pane" id="notification_email_settings">
						<h5 class="text-black">Notification Email</h5>
						<%= f.input :email_notification_subject, label: "Subject", input_html: { class: "form-control" }  %>
						<p class="help-block small">Available Body Tags:
							{{sender_name}} | {{student_name}} | {{message}} | {{date}} | {{date-short}} | {{application_url}} | {{application_name}} | {{organization_name}}</p>
						<%= f.input :email_notification_body, as: :text, label: "Body", input_html: { rows: 20, class: "form-control" } %>

				</div>
				<div class="tab-pane" id="item_assigned_email_settings">
						<h5 class="text-black">Item Assigned Email</h5>
						<%= f.input :email_item_assigned_subject, label: "Subject", input_html: { class: "form-control" } %>
						<p class="help-block small">Available Body Tags:
							{{student_name}} | {{items}} | {{date}} | {{date-short}} | {{application_url}} | {{application_name}} | {{organization_name}}</p>
						<%= f.input :email_item_assigned_body, as: :text, label: "Body", input_html: { rows: 20, class: "form-control" } %>
				</div>
				<div class="tab-pane" id="helpful_tags_settings">
					<h5 class="text-black">Useful Tags For Email Text</h5>
					<p>These tags will be processed and replaced with the actual value before the email is sent out.</p>

				</div>
				</div>


				<input type="hidden" name="return_to" value="email"/>
				<%= f.submit "Save Settings", class: "btn btn-success mt-3" %>
			<% end %>
		<% end %>
	</div>
	<div class="col-md-4">
		<%= panel(title: "Email Settings Help", icon: "question") do %>
			<dl>
				<dt>Enable Email Communication</dt>
				<dd>Allows or disallows emails to be sent out automatically</dd>
				<dt>From Address</dt>
				<dd>The email address that will appear in the from field on papyrus generated emails.</dd>
				<hr/>
				<dt>Welcome Email Subject and Body</dt>
				<dd>The subject and body of an email sent out to welcome newly registered students that require access to Papyrus.</dd>
				<dt>Lab Access Subject and Body</dt>
				<dd>The subject and body of an email sent out to welcome only lab access students.</dd>
				<dt>Notification Email Subject and Body</dt>
				<dd>The subject and body of an email sent out via student communcation box.</dd>
				<dt>Item Assigned Email Subject and Body</dt>
				<dd>The subject and body of an email sent out when an item is assigned to a student.</dd>
			</dl>
		<% end %>
	</div>
</div>
