<% title "General Settings" %>

<% title_html do %>
	<h1>Email Settings</h1>
<% end%>


<% sidebar do %>
  <h3>Email Settings Help</h3>
	<dl>
		<dt>Enable Email Communication</dt>
		<dd>Allows or disallows emails to be sent out automatically</dd>
		<dt>From Address</dt>
		<dd>The email address that will appear in the from field on papyrus generated emails.</dd>
		<hr/>
		<dt>Welcome Email Subject and Body</dt>
		<dd>The subject and body of an email sent out to welcome newly registered students.</dd>
		<dt>Notification Email Subject and Body</dt>
		<dd>The subject and body of an email sent out via student communcation box.</dd>
		<dt>Item Assigned Email Subject and Body</dt>
		<dd>The subject and body of an email sent out when an item is assigned to a student.</dd>
	</dl>
<% end %>


<%= simple_form_for PapyrusSettings, url: settings_path, method: :patch do |f| %>

<ul class="nav nav-tabs" role="tablist">
	<li class="active">
		<a href="#general_email_settings" role="tab" data-toggle="tab">General</a>
	</li>
	<li><a href="#welcome_email_settings" role="tab" data-toggle="tab">Welcome Email</a></li>
	<li><a href="#notification_email_settings" role="tab" data-toggle="tab">Notification Email</a></li>
	<li><a href="#item_assigned_email_settings" role="tab" data-toggle="tab">Item Assigned Email</a></li>
	<li><a href="#helpful_tags_settings" role="tab" data-toggle="tab">Helpful Tags</a></li>
</ul>

<hr/>
<!-- Tab panes -->
<div class="tab-content">
	<div class="tab-pane active" id="general_email_settings">
		<%= f.input :email_allow, as: :radio_buttons, label: "Enable Email Communication?" %>
		<%= f.input :email_from, label: "From Address", input_html: { class: "input-block-level" } %>
	</div>
	<div class="tab-pane" id="welcome_email_settings">
		<h4>Welcome Email</h4>
		<%= f.input :email_welcome_subject, label: "Subject", input_html: { class: "input-block-level" } %>
		<p class="help-block">Available Body Tags:
			{{sender_name}} | {{student_name}} | {{date}} | {{date-short}} | {{application_url}} | {{application_name}} | {{organization_name}}</p>
		<%= f.input :email_welcome_body, as: :text, label: "Body", input_html: { rows: 20, class: "input-block-level"  } %>
	</div>
<div class="tab-pane" id="notification_email_settings">
		<h4>Notification Email</h4>
		<%= f.input :email_notification_subject, label: "Subject", input_html: { class: "input-block-level" }  %>
		<p class="help-block">Available Body Tags:
			{{sender_name}} | {{student_name}} | {{message}} | {{date}} | {{date-short}} | {{application_url}} | {{application_name}} | {{organization_name}}</p>
		<%= f.input :email_notification_body, as: :text, label: "Body", input_html: { rows: 20, class: "input-block-level" } %>

</div>
<div class="tab-pane" id="item_assigned_email_settings">
		<h4>Item Assigned Email</h4>
		<%= f.input :email_item_assigned_subject, label: "Subject", input_html: { class: "input-block-level" } %>
		<p class="help-block">Available Body Tags:
			{{student_name}} | {{items}} | {{date}} | {{date-short}} | {{application_url}} | {{application_name}} | {{organization_name}}</p>
		<%= f.input :email_item_assigned_body, as: :text, label: "Body", input_html: { rows: 20, class: "input-block-level" } %>
</div>
<div class="tab-pane" id="helpful_tags_settings">
	<h4>Useful Tags For Email Text</h4>
	<p>These tags will be processed and replace with the actual value before the email is sent out.</p>

</div>
</div>


  <input type="hidden" name="return_to" value="email"/>
  <%= f.submit "Save Settings", class: "btn btn-success" %>
<% end %>
