<% title "Item Settings", false %>


<div class="row">
	<div class="col-md-8">
		<%= panel(title: "Item Settings", icon: "cog") do %>

			<%= simple_form_for PapyrusSettings, url: settings_path, method: :patch do |f| %>
			  <h4 class="black">Item Settings</h4>

	      <%= f.label :item_sources, "Item Sources"%>
	      <%= f.input :item_sources, label: false, as: :array %>
	      <p class="small">Press Ctrl-Shift-Del after clicking on the text box to remove the box.</p>


			  <h4 class="black">Course Settings</h4>

	      <%= f.label :course_lookup_url, "Course Code Lookup URL"%>
	      <%= f.input :course_lookup_url, label: false, input_html: { class: "form-control" }%>
	      <%= f.label :course_code_sample, "Course Code Sample"%>
	      <%= f.input :course_code_sample, label: false, input_html: { class: "form-control" }%>


			  <input type="hidden" name="return_to" value="item"/>
				<%= f.submit "Save Settings", class: "btn btn-success" %>
			<% end %>
		<% end %>
	</div>
	<div class="col-md-4">
		<%= panel(title: "Item Settings Help", icon: "question") do %>
			<dl>
				<dt>Item Sources</dt>
				<dd>A list of sources to record where a physical copy of the item was acquired from.</dd>
				<hr/>
				<dt>Course Code Lookup URL</dt>
				<dd>A url where staff can look up different course codes</dd>
				<dt>Course Code Sample</dt>
				<dd>An example course code format, used when creating new courses.</dd>
			</dl>
		<% end %>
	</div>
</div>
