<% title "Primo/Alma Settings", false %>

<div class="row">
	<div class="col-md-8">
		<%= panel(title: "Primo/Alma", icon: "cog") do %>
			<p class="alert alert-danger"><strong>Warning:</strong> Changing these values might disable Primo/Alma Search capabilities. Please be careful.</p>

			<%= simple_form_for PapyrusSettings.new, url: settings_path, method: :patch do |f| %>


			<h5 class="text-black">Primo Settings</h5>

				<%= f.input :primo_apikey %>
				<%= f.input :primo_region %>
				<%= f.input :primo_inst %>
				<%= f.input :primo_vid %>
				<%= f.input :primo_enable_loggable, as: :radio_buttons, input_html: { class: 'form-check-input' } %>
				<%= f.input :primo_scope %>
				<%= f.input :primo_pcavailability, as: :radio_buttons, input_html: { class: 'form-check-input' } %>


			<h5 class="text-black mt-4">Alma Settings</h5>

				<%= f.input :alma_apikey %>
	      <%= f.input :alma_region %>


				<input type="hidden" name="return_to" value="primo_alma"/>
				<%= f.submit "Save Settings", class: "btn btn-success mt-4" %>
			<% end %>
		<% end %>
	</div>
	<div class="col-md-4">
		<%= panel(title: "Primo Alma Settings Help", icon: "question") do %>
			<dl>
				<dt>Primo ApiKey</dt>
				<dd>The unique key that allows Papyrus to access Primo search</dd>
				<dt>Primo Inst</dt>
				<dd>Unique Institution Code</dd>
				<dt>Primo Region</dt>
				<dd>The url to the regional instance where Primo lives</dd>
				<hr/>
				<dt>Alma ApiKey</dt>
				<dd>A unique key that allows Papyrus to access Alma records.</dd>
				<dt>Alma Region</dt>
				<dd>The url to the regional instance where Alma lives</dd>
			</dl>
		<% end %>
	</div>
</div>


<% sidebar do %>
  <h3>Bib Search Help</h3>

<% end %>
