<% title "System Settings", false %>

<div class="row">
	<div class="col-md-8">
		<%= panel(title: "System Settings", icon: "cog") do %>
			<p class="alert alert-danger"><strong>Warning:</strong> Changing authentication settings might disable your access to Papyrus. Please be careful.</p>
			<%= simple_form_for PapyrusSettings, url: settings_path, method: :patch do |f| %>

				<h4 class="black">Authentication Settings</h4>

	      <%= f.input :auth_cas_header, label: "CAS Header", hint: "Name of login header used by CAS" %>
	      <%= f.input :auth_cas_header_alt, label: "Alternate CAS Header",
	         hint: "Alternate Name of login header used by CAS" %>
	      <%= f.input :auth_cas_user_id_label, label: "User ID Label", hint: "Label used to describe a user's id" %>
	      <%= f.input :auth_cookies_domain, label: "Cookies Domain",
	         hint: "Domain used for cookies creation" %>
	      <%= f.input :auth_cas_logout_redirect, label: "Logout Redirect URL" %>

				<hr/>
				<h4 class="black">Error Notification</h4>

		    <%= f.input :errors_email_subject_prefix, label: "Error Email Subject Prerix"%>
		    <%= f.input :errors_email_from, label: "Error Email From Address" %>
		    <%= f.input :errors_email_to, as: :array, label: "Send Error Messages To"%>
				<p class="help-block small">Press Ctrl-Shift-Del after clicking on the text box to remove the box.</p>
				<hr/>
				<div class='well'>
				<h4 class="black">EXTERNAL API - Version 1.0</h4>
				<%= f.input :api_enable, label: "Enable External API v1.0", as: :radio_buttons %>

				<p class="alert alert-danger">
					If you enable API and don't enable Basic HTTP AUTH, you must secure access to API via Apache or some other module.
				</p>

				<%= f.input :api_http_auth_enable, label: "Enable Basic HTTP AUTH", as: :radio_buttons %>
				<hr/>
				<%= f.input :api_http_auth_user, label: "HTTP AUTH Username", as: :string %>
				<%= f.input :api_http_auth_pass, label: "HTTP AUTH Passowrd", as: :string %>
				</div>
				<hr/>
				<h4 class="black">Performance Profiling</h4>


				<%= f.input :profiler_enable, label: "Enable Profiler", as: :radio_buttons %>

				<input type="hidden" name="return_to" value="system"/>
				<%= f.submit "Save Settings", class: "btn btn-success" %>
			<% end %>
		<% end %>
	</div>
	<div class="col-md-4">
		<%= panel(title: "System Settings Help", icon: "question") do %>

			<dl>
				<dt>CAS Header</dt>
				<dd>The name of the login HEADER used to authenticated <%= PapyrusSettings.app_name %> users. </dd>
				<dt>Alternate CAS Header</dt>
				<dd>The alternate name of the login HEADER used to authenticated <%= PapyrusSettings.app_name %> users.</dd>
				<dt>User ID Label</dt>
				<dd>A label used to describe the ID of the user.</dd>
				<dt>Cookies Domain</dt>
				<dd>The Domain used for creating login and session cookies</dd>
				<dt>Logout Redirect URL</dt>
				<dd>The logout url to which a user will be redirected after clicking logout link.</dd>
				<hr/>
				<dt>Error Email Subject Prefix</dt>
				<dd>A prefix used on a error notification email.</dd>
				<dt>Error Email From Address</dt>
				<dd>Email Address used to identify <%= PapyrusSettings.app_name %> error emails.</dd>
				<dt>Send Error Messages To</dt>
				<dd>A list of email address used to notify about <%= PapyrusSettings.app_name %> errors.</dd>
			</dl>
		<% end %>
	</div>
</div>
