<nav class="navbar navbar-red navbar-expand-md">
<div class="container-fluid">
  <a class="navbar-brand" href="<%= root_path %>">
    My <%= PapyrusSettings.app_name %>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ms-auto">
    <% if Announcement.visible > 0 %>
      <li class="nav-item dropdown me-3">
        <a class="nav-link dropdown-toggle" name="notification navigation" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Notifications">
          <i class="fas fa-bell"></i>
        </a>
        <ul class="dropdown-menu">
          <% Announcement.current(nil, @current_user.role).each do |announcement| %>
            <%= render partial: "announcements/announcement", locals: { show: "li", announcement: announcement } %>
          <% end %>
        </ul>
      </li>
    <% end %>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fas fa-user me-1"></i>
          <%= @current_user.name if @current_user %>
        </a>
        <div class="dropdown-menu">
          <a href="<%= logout_path%>" class="dropdown-item">
            <i class="fas fa-fw fa-power-off me-1"></i> Log out
          </a>
        </div>
      </li>

    </ul>
  </div>
  </div>
</nav>
