<div class="item" id="item_<%= item.id %>" data-id="<%=item.id %>">
  <strong><%= item.title %></strong><br/>
  <% if item.course_kit? %>
    <small class="text-muted"><%= item.course_code %></small> |
  <% end %>
  <%= format_field item.author %> | <%= format_field item.edition %>
  <br/> 	<%= format_field item.callnumber %> | 	<%= format_field item.isbn %>
</div>
