<div id="document_<%= document.id %>" data-id="<%= document.id %>" class="document attachment">

  <div class="d-flex justify-content-start align-items-start">
    <a class="icon icon-<%= document.attachment.file.extension.upcase %>"
      href="<%= download_document_path(document) %>">
      <i class="fa fa-file fa-fw"></i>
      <%= document.attachment.file.extension.upcase %>
    </a>
    <div class="ms-2">
      <div class="d-flex justify-content-between align-items-start">
        <div>
          <h4 class="media-heading">
            <a href="<%= download_document_path(document) %>">  <%= document.name %></a>
          </h4>
          <p>Updated <span title="<%= document.created_at.strftime("%b %e %Y, %l:%M %p") %>">
            <%= time_ago_in_words document.updated_at %></span> ago by <%= document.user.name %>
          </p>
        </div>

        <% if can? :update, document %>
          <a class="btn btn-xs btn-outline-secondary hidden-phone" title="Edit Document" data-remote="true"
              href="<%= edit_document_path(document.attachable, document) %>">
            <i class="fas fa-edit"></i>
          </a>
        <% end %>

      </div>
    </div>
  </div>

  <div class="media">



    <div class="pull-right actions">



    </div>

    <div class="media-body">

    </div>
  </div>
</div>
