<% if @document.errors.size == 0 %>

	$("#documents").append('<%= j render(@document) %>');
	console.log("Adding a document");
  $("#new_document_modal").modal("hide");
  $("#new_document_form_holder").remove();

	$(".blank-slate").remove();

	$("#document_<%= @document.id %>").effect("highlight", {}, 3000);

	// courses view
	if ($("#courses").length > 0) {
		$("#course_<%= @document.attachable_id %> .course_syllabus_menu").replaceWith("<%= j render("courses/shared/syllabus_menu", course: @document.attachable) %>");
		$("#course_<%= @document.attachable_id %>").effect("highlight", {}, 3000);
	}

	// course edit view
	if ($("#syllabus_file_name").length > 0) {
		$("#syllabus_file_name").effect("highlight", {}, 3000);
		$("#syllabus_file_name").empty().html("File: <%= @document.filename %>");
		$("#syllabus_file_name").append("<br/><span class='trivial small'>Refresh page to see preview link</span>");
	}

<% else %>
	$("#new_document_modal").modal("hide");
	$("#new_document_form_holder").empty();
	$("#new_document_form_holder").append('<%= j render("documents/new_modal") %>');
	$("#new_document_modal").modal({ show: true, backdrop: 'static' });
<% end %>
