<%= panel(title: "Courses", icon: "university", title_class: "panel-top text-center", styles:"panel-warning") do %>
  <ul class="list-unstyled list-info" id="courses">
    <% courses_grouped.each do |term, courses| %>
    <li id="term_<%= term[:id] %>"><label class="term"><%= term[:name] %></label></li>
      <% courses.each do |course|%>
        <%= render course, show: "li" %>
      <% end %>
    <% end %>
  </ul>

  <% if courses_grouped.size == 0 %>
    <p class="text-center">This item is not used in any courses.</p>
  <% end %>

  <hr/>

  <h3>Assign Item to a Course</h3>
	<div>

		<p>Type the name of the course.</p>
		<%= form_tag assign_to_item_term_courses_path(1), remote: true do %>
			<input type="hidden" name="item_id" value="<%= @item.id %>"/>
			<p><input type="text" id="assign-to-course-list" name="course_ids"/></p>
			<p><%= submit_tag "Assign to course", :class => "btn" %></p>
		<% end %>
	</div>


	<script type="text/javascript">
	$(document).ready(function () {
	    $("#assign-to-course-list").tokenInput("<%= search_courses_terms_path %>");
	});
	</script>

<% end %>
