<%= panel(title: "Files & URLs", icon: "file", title_class: "text-center bg-info text-white") do %>
	<div class="d-flex justify-content-between align-items-center">
		<div>
			<a id="upload_files_button" href="#" class="btn btn-sm btn-primary"
				data-toggle-visible="#upload_form_holder">
					<i class="fas fa-upload mr-2"></i> Upload Files
			</a>

			<a href="<%= url_for new_item_attachment_path(@item, url: true) %>" class="btn btn-sm btn-outline-secondary" data-remote="true">
				<i class="fas fa-link mr-2"></i> Add a URL
			</a>
		</div>


		<a href="<%= zipped_files_item_path(@item) %>" class="btn btn-sm btn-outline-secondary">
			<i class="fas fa-download mr-2"></i> Download Zipped
		</a>



	</div>

	<div id="url_form_holder" class="d-none"></div>

	<div id="upload_form_holder" class="d-none">
		<%= render partial: "attachments/upload_files"%>
	</div>


	<hr/>
	<%= form_tag delete_multiple_item_attachments_path(@item), id: "delete_multiple_form" do %>
		<div id="attachments">
			<% if @item.attachments.available.size == 0 %>
				<div class="blank-slate">
					<p class='text-muted text-center'>There are no files or urls in this Item.</p>
				</div>
			<% end %>
				<% @item.attachments.available.each do |attachment| %>
					<%= render attachment, show: "div" %>
				<% end %>
		</div>
	<% end %>

	<hr/>
	<div class="text-right">
		<a href="#" class="delete_multiple btn btn-link text-danger">
			<i class="fas fa-trash mr-2"></i> Delete multiple files
		</a>

		<a href="#" class="submit_delete_multiple d-none btn btn-link text-danger">
			<i class="fas fa-trash  mr-2"></i> Delete these files?</a>
		<a href="#" class="cancel_delete_multiple d-none btn btn-link text-success">&times; Cancel</a>

	</div>
<% end %>
