<%= panel(title: "Files & URLs", icon: "file", icon_class: "fa-2x", title_class: "panel-top text-center", styles:"panel-success") do %>


<% end %>


<div class="item-extended item">


	<section>
		<h2>Attached Files &amp; URLs
			<div class="btn-group">
				<a href="<%= url_for new_item_attachment_path(@item) %>" class="btn btn-small hidden-phone" onclick="$('#upload_form').toggle(); return false;">
						Upload Files
				</a>
				<a href="<%= url_for new_item_attachment_path(@item, url: true) %>" class="btn btn-small" data-remote="true">
					Add a URL
				</a>
			</div>

		</h2>

		<div id="url_form_holder" class="hide well"></div>

		<div id="upload_form" class="hide well">
			<%= render partial: "attachments/upload_files"%>
		</div>



		<%= form_tag delete_multiple_item_attachments_path(@item) do %>
		<div class="attachments">
			<% if @item.attachments.full_text.available.size > 0 %>
				<div class="full-text">
					<h4>Full Text</h4>

					<% @item.attachments.full_text.available.each do |attachment| %>
						<%= render partial: attachment %>
					<% end %>
				</div>
			<% end %>

			<% @item.attachments.not_full_text.available.each do |attachment| %>
				<%= render partial: attachment %>
			<% end %>
		</div>

		<% if @item.attachments.files.available.size > 0 %>
			<a href="<%= zipped_files_item_path(@item) %>" class="btn btn-small hidden-phone"><i class="icon-download"></i> Download Zipped</a>
			<a href="#" class="delete_multiple float-right red"><i class="icon-trash"></i> Delete multiple files</a>

			<div class="float-right">
				<a href="#" class="submit_delete_multiple red hide"><i class="icon-trash"></i> Delete these files?</a>
				<a href="#" class="cancel_delete_multiple hide">&times; Cancel</a>
			</div>
		<% else %>
			<div class="well">
				No File have been uploaded yet. Start by clicking on Upload Files button.
			</div>
		<% end %>

		<% #### END OF FORM ###%>
		<% end %>
	</section>

</div>
