<%= panel(title: "Students With Access", icon: "users", title_class: "text-center", styles:"panel-warning") do %>

  <a class="btn btn-sm btn-primary" data-toggle="modal" href="#assign_students_modal">
    <i class="fa fa-user-plus"></i> Grant Access To Students?</a>
  <hr/>


  <ul class="list-unstyled list-info" id="students">
    <% item.students.unique_usernames.each do |student| %>
      <%= render student, show: "li_item" %>
    <% end %>
  </ul>

  <% if item.students.size == 0 %>
    <p class="text-center">There are no students with access to this item.</p>
  <% end %>
<% end %>


<div class="modal modal-fade" id="assign_students_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_tag assign_to_students_item_path(@item), remote: true do %>
        <div class="modal-header">
          <a class="close" data-dismiss="modal">×</a>
          <h4 class="modal-title">Assign This Item To Students</h4>
        </div>
        <div class="modal-body">
          <p>Type the name of the student in the box to search for students.</p>

          <p><input type="text" id="assign-students-list" name="student_ids"/></p>
          <p>Expires at the end of:</p>
          <%= collection_select(:expires_on, :date, Term.all, :end_date, :name, options ={prompt: " Never"}, class: "terms form-control") %></p>


        </div>
        <div class="modal-footer">
          <%= submit_tag "Give Access To These Students", class: "btn btn-success" %>
          <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
        </div>
      <% end %>
  </div>
</div>

</div>

<script type="text/javascript">
  $(document).ready(function () {

    $("#assign_students_modal").modal({show: false}).on('shown.bs.modal', function (e) {
      $("#assign-students-list").tokenInput("<%= search_students_path %>", {
          zindex: 9999999
      });
    });

    $(".tooltips").tooltip();
  });
</script>
