<ul class="nav nav-tabs">
	<li class="<%= "active" if controller_name == "items" && action_name == "show" %>">
		<a href="<%= item_path(@item) %>">Files</a>
	</li>
	<li class="<%= "active" if controller_name == "items" && action_name == "courses" %>">
		<a href="<%= courses_item_path(@item) %>">Courses</a>
	</li>
	<% if can? :read, AcquisitionRequest %>
		<li class="<%= "active" if controller_name == "items" && action_name == "acquisition_requests" %>">
			<a href="<%= acquisition_requests_item_path(@item)  %>">Acquisition Requests</a>
		</li>
	<% end %>
</ul>
