<div class="sub-navigation">
	<a href="<%= item_path(@item) %>" class="<%= is_action?("show", "active") %>">Files</a>
	<a href="<%= courses_item_path(@item) %>" class="<%= is_action?("courses", "active") %>">Courses</a>
	<% if can? :read, AcquisitionRequest %>
		<a href="<%= acquisition_requests_item_path(@item)  %>" class="<%= is_action?("acquisition_requests", "active") %>">Acquisition Requests</a>
	<% end %>
</div>