
<div class="item-subnav clearfix">
	<div class="column">
		<a href="<%= item_path(@item) %>" class="resource <%= is_action?("show", "active" ) %>">
			<i class="icon-file"></i>
			Files
		</a>
	</div>

	<div class="column">
		<a href="<%= courses_item_path(@item) %>" class="resource <%= is_action?("courses", "active")%>">
			<i class="icon-certificate"></i>
			Courses
		</a>
	</div>

	<div class="column">
		<a href="<%= audit_trail_item_path(@item) %>" class="resource <%= is_action?("audit_trail", "active")%>">
			<i class="icon-list"></i>
			Audit Trail
		</a>
	</div>

	<% if can? :read, AcquisitionRequest %>
	<div class="column last">
		<a href="<%= acquisition_requests_item_path(@item) %>" class="resource <%= is_action?("acquisition_requests", "active")%>">
			<i class="icon-shopping-cart"></i>
			Acquisitions Requests
		</a>
	</div>
	<% end %>

</div>
<br/>
