<% title "Expired Items | #{@student.name}", false %>
<div class="row">
	<div class="col-md-12">
		<%= panel(title: "Expired Items | #{@student.name} ", icon: "recycle") do %>

    <div class="student-header row">
      <div class="col-md-12">
        <h4>
          <a class="btn btn-sm btn-outline-secondary" href="<%= student_path(@student) %>" title="Back To Student Details">
            <i class="fa fa-chevron-left"></i>
          </a> &nbsp;
          <%= @student.name %>
        </h4>
      </div>

    </div>
    <hr/>

      <div id="expired_items">
        <h5 class="mb-4">Expired Items</h5>
        <ul class="list-unstyled">
          <%= blank_slate(@expired_items,
              title: "There are no expired items.", icon: "file red",
              description: "Once items expire, they will appear in this list")
            %>

          <% @expired_items.each do |item| %>
            <% item.expired = true %>
            <%= render "items/item", item: item, show: "li" %>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
