
<%= simple_form_for @scan_list, remote: (request.xhr? ? true: false ) do |f| %>

    <div class="row">
      <div class="col-md-4">
        <%= f.input :name %>
      </div>
      <div class="col-md-4">
        <%= f.input :assigned_to_id, collection: User.transcription_assitants %>
      </div>
      <div class="col-md-4">
        <%= f.input :status, collection: ScanList::SCAN_STATUSES %>
      </div>
    </div>

    <hr/>
    <%= f.button :submit,  class: 'btn btn-primary' %>

    <% if request.xhr? %>
      <%= link_to "Cancel", "#", class: "btn btn-default", onclick: "$(this).parents('.form_holder').empty(); return false;" %>
    <% else %>
      <%= link_to 'Cancel', @scan_list.new_record? ? scan_lists_path : scan_list_path(@scan_list), class: 'btn btn-default' %>
    <% end %>

    <br/><br/>
    <% if @scan_list.new_record? %>
      <p>Created By <%= @current_user.name %></p>
    <% else %>
      <p>Created By <%= @scan_list.creator %></p>
    <% end %>


<% end %>
