<% title "Shared Access Codes", false %>

<div class="row">
	<div class="col-md-8 access_codes">
		<%= panel(title: "Shared Access Codes", icon: "lock") do %>
      <%= link_to  new_shared_access_code_path, class: "btn btn-small btn-primary", data: { remote: true } do %>
        <i class="fa fa-plus"></i> New Shared Access Code
      <% end %>
      <hr/>

      <div id="access_code_form_holder"></div>


      <ul class="list-unstyled" id="current_codes">
        <% @access_codes.each do |access_code| %>
          <%= render partial: access_code, locals: { show: "li"} %>
        <% end %>
      </ul>


      <% if @access_codes.size == 0 %>
        <div class="blank-slate">
          <i class="icon-lock"></i>
          <h1>No shared access codes added.</h1>
          <p>Click on the <strong>New Shared Access Code</strong> button to add one.</p>
        </div>
      <% end %>



		<% end %>
	</div>
  <div class="col-md-4 access_codes">
    <%= panel(title: "Expired Access Codes", icon: "lock") do %>
      <div class="expired_codes">

        <ul class="list-unstyled">
          <% @expired_access_codes.each do |access_code| %>
            <%= render partial: access_code, locals: { show: "li" } %>
          <% end %>
        </ul>

      </div>

    <% end %>
  </div>
</div>
