<div id="todo_item_<%= todo_item.id %>" data-id="<%= todo_item.id %>" class="list-group-item">
  <div class="row">
    <div class="col-md-8">
      <div class="d-flex justify-content-start align-items-center">
        <%= simple_form_for [todo_item.todo_list, todo_item], html: { remote: true } do |f| %>
            <% if todo_item.status == TodoItem::STATUS_NEW %>
              <i class="todo_list_status far fa-fw fa-square"></i>
              <input type="hidden" name="todo_item[status]" autocomplete="off" value="<%= TodoItem::STATUS_DONE %>">
            <% else %>
              <i class="todo_list_status far fa-fw fa-check-square"></i>
              <input type="hidden" name="todo_item[status]" autocomplete="off" value="<%= TodoItem::STATUS_NEW %>">
            <% end %>
            <input type="submit" name="submit" class="d-none" value="" aria-label="complete/uncomplete">
        <% end %>
        <div class="mb-0 ms-3 text-lg">
          <%= in_place_edit [todo_item.todo_list, todo_item], :summary %>
        </div>

      </div>

    </div>
    <div class="col-md-4 d-flex justify-content-end align-items-center">
      <div class="me-3">
        <i class="fas fa-user me-1"></i>
        <%= in_place_edit [todo_item.todo_list, todo_item], :assigned_to_id, display_as: :assignee,  as: :select, collection:  TodoItem.assignees(true) %>
      </div>
      <div class="me-3">
        <i class="far fa-calendar me-1"></i>
        <%= in_place_edit [todo_item.todo_list, todo_item], :due_date,  as: :date, inner_class: "datepicker", place_holder: "No Due Date" %>
      </div>

      <a href="<%= todo_list_todo_item_path(todo_item.todo_list, todo_item) %>" data-remote="true"
        data-method="delete" data-confirm="Are you sure?" class="text-sm text-danger" aria-label="Delete">
        <i class="fas fa-fw fa-times"></i>
      </a>
    </div>
  </div>
</div>
