<% if @recently_acquired.size == 0 %>
  <div class="blank-slate text-center">

    <h6><i class="fas fa-bullhorn mr-2"></i> There are no acquired requests right now.</h6>
    <p class="text-muted">Go to an item you want acquire and click on <strong>Acquisitions</strong> link.</p>
  </div>
<% else %>
  <div class="list-group">
    <% @recently_acquired.each do |r| %>
      <a class="list-group-item no-underline:hover" href="<%= acquisition_request_path(r) %>">
        <h6 class="list-group-item-heading"><%= r.item.title rescue nil %></h6>

        <div class="row list-group-item-text">
          <div class="col-md-4">
            <span class="fa fa-calendar fa-fw"></span>
            <%= r.acquired_at.strftime("%b %e, %Y") %>
          </div>
          <div class="col-md-4">
            <span class="fa fa-quote-left fa-fw"></span>
            <label>Source:</label>
            <%= r.acquisition_source_name %>
          </div>
          <div class="col-md-4">
            <span class="fa fa-user fa-fw"></span>
            <label>By:</label>
            <%= r.acquired_by.name rescue nil %>
          </div>

        </div>

      </a>
    <% end %>
  </div>
<% end %>
