<% if @recently_acquired.size == 0 %>
  <div class="blank-slate">
    <i class="icon-bullhorn"></i>
    <h1>There are no acquired requests righ tnow.</h1>
    <p>Go to an item you want acquire and click on <strong>Acquisitions</strong> link.</p>
  </div>
<% else %>
  <div class="list-group">
    <% @recently_acquired.each do |r| %>
      <a class="list-group-item" href="<%= acquisition_request_path(r) %>">
        <h5 class="list-group-item-heading black"><%= r.item.title %></h5>

        <div class="row list-group-item-text small">
          <div class="col-md-2">
            <span class="weak">Acquired on:</span>
          </div>
          <div class="col-md-2">
            <span class="strong"><%= r.acquired_at.strftime("%b %e, %Y") %></span>
          </div>
          <div class="col-md-2">
            <span class="weak">Source:</span>
          </div>
          <div class="col-md-2">
            <span class="strong"><%= r.acquisition_source_name %></span>
          </div>
          <div class="col-md-2">
            <span class="weak">Acquired by:</span>
          </div>
          <div class="col-md-2">
            <span class="strong"><%= r.acquired_by.name rescue nil %></span>
          </div>
        </div>

      </a>
    <% end %>
  </div>
<% end %>
