<% if request.xhr? %>
<div class="modal sfade" id="acquisition_request_form">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= simple_form_for @acquisition_request, remote: true do |f| %>
      <div class="modal-header">
        <h6 class="modal-title">Request Item Acquisition</h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <h5 class='text-dark'><%= @item.title%></h5>
        <hr/>
        <% if @item.acquisition_requests.size > 0 %>
          <p>The following is a list of acquisition requests made for this item</p>
          <ul class="acquisition_requests list-unstyled">
            <% @item.acquisition_requests.each do |r| %>
              <li class="border-bottom pb-2 mb-2">
                <div class="d-flex justify-content-between align-items-start">
                  <span><%= link_to "Request ##{r.id}", r %> - <%= r.acquisition_reason %></span>
                  <span class="badge badge-pill badge-light align-self-start status-<%= r.status %>"><%= r.status %></span>
                </div>
                <% if r.note != nil %>
                <strong>Note:</strong> <%= field_format r.note %>
                <% end %>
              </li>
            <% end %>
          </ul>
        <% end %>

        <p class='text-center text-dark mt-3'>Create a new Acquisition Request </p>

        <%= f.input :acquisition_reason, collection: PapyrusSettings.acquisition_reasons %>
        <%= f.input :note %>

        <%= f.hidden_field :item_id, value: @item.id %>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
         <%= f.button :submit, class: "btn btn-success", value: "Request New Acquisition" %>
      </div>
      <% end %>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<% else %>
  <%= simple_form_for @acquisition_request, remote: true do |f| %>

  <small>Acquire this title?</small>
  <h3><%= @item.title%></h3>

  <hr/>

  <%= f.input :acquisition_reason %>
  <%= f.input :item_id, value: @item.id, type: :hidden  %>

  <%= f.button :submit, class: "btn btn-success", value: "Add To List" %>  <%= link_to "Cancel", items_path(@item), class: "btn btn-link"%>

  <% end %>
<% end %>
