<div class="request_history">
	<h4>History Log</h4>

	<table class="table">

		<% @audits_grouped.each do |date, events| %>
			<tr class="date">
				<th colspan="4">
					<span class="trivial"><%= date.strftime('%b %e, %Y')%></span>
				</th>
			</tr>
			<% events.each do |event| %>
				<% type = event.auditable_type %>
				<% action = event.action %>
				<tr>
					<td class="trivial time"><%= event.created_at.strftime("%R")%></td>
					<td class="comment black"><%= event.comment ? event.comment : event.action %></td>
					<td class="who"><span title="<%= event.action %> "><%= event.user.name if event.user %></span></td>
				</tr>

				<tr class="more-info hide bg-warning">
					<td></td>
					<td class="what text-warning small">changes</td>
					<td class="changes" colspan="2">

            <% if event.action != "note" %>
							<%= render "request_history/detailed_changes", event: event %>
						<% end %>
					</td>
				</tr>

			<% end %>
		<% end %>
	</table>
</div>
