<div id="notes">
	<% @acquisition_request.notes_list.reverse.each do |note| %>
		<% note = @acquisition_request.decode(note) %>
		<div id="note-<%= note["id"] %>" class="note">
			<header><span><%= note["date"]%></span> by <%= note["username"] %></header>
			<%= link_to remove_note_acquisition_request_path(@acquisition_request, :note_id => note["id"]), :method => :post, 
			:confirm => "Are you sure? This can't be undone.", :class => "delete" do %>
				&otimes;
			<% end %>
			<article><%= note["note"] %></article>
			
		</div>
	<% end %>
</div>