<% if @acquisition_requests.size == 0 %>
  <div class="blank-slate">
    <i class="icon-bullhorn"></i>
    <h1>There are no open requests right now.</h1>
    <p>Go to an item you want acquire and click on <strong>Acquisitions</strong> link.</p>
  </div>
<% else %>
  <div class="list-group">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#my_requests" role="tab" data-toggle="tab">My Requests</a></li>
        <% @acquisition_requests_grouped.keys.reject{ |r| r[:id] == @current_user.id }.each do |user|  %>
          <li role="presentation">
            <a href="#created_by_<%= user[:id] %>" role="tab" data-toggle="tab"><%= user[:name] %></a>
          </li>
        <% end %>

      <li role="presentation"><a href="#all_requests" role="tab" data-toggle="tab">All</a></li>
    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="my_requests">
        <br/>
        <%= blank_slate @acquisition_requests.where(requested_by_id: @current_user.id), title: "Acquisiton Requests", description: "There are no acquisition requests created by you", icon: "bullhorn" %>

        <% @acquisition_requests.where(requested_by_id:  @current_user.id).each do |request| %>
          <%= render partial: "acquisition_requests/partials/open_request_info", locals: { request: request } %>
        <% end %>

      </div>
      <% @acquisition_requests_grouped.keys.reject{ |r| r[:id] == @current_user.id }.each do |user|  %>
        <div role="tabpanel" class="tab-pane" id="created_by_<%= user[:id] %>">
          <% @acquisition_requests.where(requested_by_id: user[:id]).each do |request| %>
            <%= render partial: "acquisition_requests/partials/open_request_info", locals: { request: request } %>
          <% end %>
        </div>
      <% end %>

      <div role="tabpanel" class="tab-pane" id="all_requests">
        <% @acquisition_requests.each do |request| %>
          <%= render partial: "acquisition_requests/partials/open_request_info", locals: { request: request } %>
        <% end %>
      </div>
    </div>



  </div>
<% end %>
