<% title "Acquisition Lists", false %>

<div class="row">
	<div class="col-md-12 acquisition_requests">
		<%= panel(title: "Open Acquisition Requests", icon: "shopping-cart") do %>

      <%= render "open_requests" %>

    <% end %>
  </div>


</div>

<div class="row">
  <div class="col-md-8 acquisition_requests">
    <%= panel(title: "Recently Acquired", icon: "shopping-cart", title_class: "text-center bg-info text-white") do %>
      <%= render "acquired_requests" %>
			<br/><%= link_to  status_acquisition_requests_path(status: AcquisitionRequest::STATUS_ACQUIRED) do %>
				See all <i class="fas fa-chevron-circle-right small"></i>
			<% end %>
    <% end %>
  </div>
  <div class="col-md-4 acquisition_requests">
		<%= panel(title: "On Back Order", icon: "shopping-cart", title_class: "text-center bg-warning text-white") do %>
      <%= render "back_ordered" %>
			<br/><%= link_to status_acquisition_requests_path(status: AcquisitionRequest::STATUS_BACK_ORDERED) do %>
				See all <i class="fa fa-chevron-circle-right small"></i>
			<% end %>
    <% end %>

    <%= panel(title: "Cancelled", icon: "shopping-cart", title_class: "text-center bg-secondary text-white") do %>
      <%= render "cancelled_requests" %>
			<br/><%= link_to status_acquisition_requests_path(status: AcquisitionRequest::STATUS_CANCELLED) do %>
				See all <i class="fa fa-chevron-circle-right small"></i>
			<% end %>
    <% end %>
  </div>
</div>
