<% title "Acquisition Request Details", false %>


<div class="row">
	<div class="col-md-12 acquisition_requests">
		<%= panel(title: "Acquisition Request ##{@acquisition_request.id}", icon: "shopping-cart") do %>

      <div class="item-header row">
        <div class="col-md-8">
          <h3>
            <%= link_to acquisition_requests_path, class: "btn btn-xs btn-default" do %>
                <i class="fa fa-list" title="Back to List"></i>
            <% end %>

            Acquisition #<%= @acquisition_request.id %></h3>
        </div>
        <div class="col-md-4">
          <div class="pull-right">
            <span class="label label-default status-<%= @acquisition_request.status %>"><%= @acquisition_request.status.humanize %></span>
          </div>
        </div>
      </div>

      <%= render @item, show: "div_info", item: @item  %>

    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12 acquisition_requests">
    <%= panel(title: "Acquisition Request Details", icon: "shopping-cart", title_class: "panel-top text-center", styles:"panel-primary") do %>


      <div class="row">
        <div class="col-md-6">

          <span class="text-primary field">Requested By</span>
          <%= format @acquisition_request.requested_by.name %>
          <span class="text-primary field">Requested On</span>
          <%= format @acquisition_request.created_at.strftime("%b %e, %Y") %>
          <span class="text-primary field">Acquisition Reason</span>
          <%= format @acquisition_request.acquisition_reason %>
          <br/><br/>

          <% if can?(:send_to_acquisitions, @acquisition_request) && @acquisition_request.status != AcquisitionRequest::STATUS_CANCELLED %>
            <hr/>
            <p>Send an email request to Acquistions or Bookstore: </p>

            <%= link_to "Send To Acquisitions", send_to_acquisitions_acquisition_request_path(@acquisition_request),
            method: :post, class: "btn btn-sm btn-info", data: { confirm: "Are you sure? "} %>

            <%= link_to "Send To Bookstore", send_to_acquisitions_acquisition_request_path(@acquisition_request, bookstore: true),
            method: :post, class: "btn btn-sm btn-primary", data: { confirm: "Are you sure? "} %>
          <% end %>

        </div>
        <div class="col-md-6 left-border">
          <% if @acquisition_request.status == AcquisitionRequest::STATUS_ACQUIRED %>
            <span class="text-primary field">Acquired By</span>
            <%= format @acquisition_request.acquired_by.name %>
            <span class="text-primary field">Acquired On</span>
            <%= format @acquisition_request.acquired_at.strftime("%b %e, %Y") %>
            <span class="text-primary field">Acquisition Type &amp; Source</span>
            <%= format @acquisition_request.acquisition_source_type %> --
            <%= format @acquisition_request.acquisition_source_name %>
          <% elsif @acquisition_request.status == AcquisitionRequest::STATUS_CANCELLED %>
            <span class="text-primary field">Cancelled By</span>
            <%= format @acquisition_request.cancelled_by.name %>
            <span class="text-primary field">Cancelled On</span>
            <%= format @acquisition_request.cancelled_at.strftime("%b %e, %Y") %>
            <span class="text-primary field">Cancellation Reason</span>
            <%= format @acquisition_request.cancellation_reason %>
          <% elsif can? :change_status, @acquisition_request %>
            <div id="acquire_form">
              <p class="small">All fields are required.</p>
              <%= simple_form_for @acquisition_request, url: change_status_acquisition_request_path(@acquisition_request) do |f| %>
                <input type="hidden" name="status" value="<%= AcquisitionRequest::STATUS_ACQUIRED %>"/>
                <%= f.input :acquisition_source_type, label: "Source", collection: PapyrusSettings.acquisition_sources %>
                <%= f.input :acquisition_source_name, label: "Source Name", as: :string %>
                <%= f.input :acquisition_notes, label: "Notes"  %>
                <%= f.button :submit, "Acquire Item", class: "btn btn-success btn-sm", data: { confirm: "Are you sure?" } %>
                &nbsp;&nbsp; or
                <a class="btn btn-link red btn-sm" data-toggle="collapse" data-slide-up="#acquire_form" href="#cancel_form">
                 Cancel Request
                </a>
              <% end %>
            </div>

            <div class="collapse" id="cancel_form">
              <p class="small">Please provide the reason for cancellation</p>
              <%= simple_form_for @acquisition_request, url: change_status_acquisition_request_path(@acquisition_request) do |f| %>
                <%= f.input :cancellation_reason, label: "Reason"  %>
                <input type="hidden" name="status" value="<%= AcquisitionRequest::STATUS_CANCELLED %>"/>
                <%= f.button :submit, "Cancel Request", class: "btn btn-danger btn-sm", data: { confirm: "Are you sure?" } %>
                &nbsp;&nbsp; or
                <a class="btn btn-link red btn-sm" data-toggle="collapse" data-slide-down="#acquire_form" href="#cancel_form">
                 Close
                </a>
              <% end %>
            </div>
          <% end %>
        </div>

      </div>



    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-12 acquisition_requests">
    <%= panel(title: "Acquisition Request History", icon: "shopping-cart") do %>
      <%= render partial:"audit_trail/trail", locals: {audits_grouped: @audits_grouped} %>
    <% end %>
  </div>
</div>
