<%= panel(title: "Assigned Items", icon: "book", title_class: "text-center", styles:"panel-info") do %>

  <% unless student.inactive? %>
    <a href="#expired_items" id="show_expired_items_list" class="small trivial pull-right">
      Show expired items
    </a>
    <a href="<%= student_path(@student) %>" data-disable-with="Loading current items..."
      id="show_current_items_list" class="small trivial pull-right hide">
      Show current items
    </a>
    <% if can? :create, ItemConnection %>
      <a data-toggle="modal" href="#assign_items_modal" class="btn btn-sm btn-primary">
        <i class="fa-plus fa"></i> Assign Items
      </a>
    <% end %>

  <% end %>
  <hr/>
  <ul class="list-unstyled" id="items">
    <%= blank_slate(@items,
        title: "There are no assigned items.", icon: "file red",
        description: "Click on the <strong>Assign Items</strong> button to assign one.")
      %>

    <% @items.each do |item| %>
      <%= render item, show: "li" %>
    <% end %>
  </ul>

	<%= render partial: "students/shared/expired_items_list", locals: { student: @student } %>
<% end %>

<div id="assign_items_modal" class="modal modal-fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_tag assign_many_to_student_items_path(:student_id => @student) do |f| %>
      <div class="modal-header">
        <h4 class="modal-title">Assign Items To This Student</h4>
      </div>
      <div class="modal-body">
        <p>To assign a new item to this student, search for the item in the search box.</p>

          <p><input type="text" id="assign-items-list" name="item_ids" class="form-control"/></p>

          <p>Expires at the end of</p>
          <%= collection_select(:expires_on, :date, Term.active, :end_date, :name, options ={ prompt: " Never"}, class: "terms form-control") %>



      </div>

      <div class="modal-footer">
        <%= submit_tag "Assign These Items", class: "btn btn-success" %>
        <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
      </div>
      <% end %>
    </div>
  </div>

</div>


<script type="text/javascript">
$(document).ready(function () {

	$("#assign_items_modal").modal({show: false}).on('shown.bs.modal', function (e) {
    setup_item_token_input("#assign-items-list", "<%= search_items_path %>");
  });
});
</script>
