<%= link_to edit_student_path(@student), class: "btn btn-block" do %>
	<i class="icon-edit"></i> Update Student Record
<% end %>

<% if @student.inactive? %>
	<div class="alert alert-error">
		<p><strong>WARNING:</strong> This student has been deactivated. You will not be able to assign items to this student or see the student record listed in your dashboard or in the student listing.</p>
		<p>To reactive, click on update user registration button and then on the Reactivate Student link in the sidebar.</p>
	</div>
<% end %>

<div class="student">
	<h5>Additional Details</h5>
	<dl class="attributes">
		<dt>Username</dt>
		<dd><%= @student.username %></dd>
		<dt>Student ID</dt>
		<dd><%= @student.details.student_number %></dd>
		<dt>Orientaion</dt>
		<dd>
			<% if @student.requires_orientation? %>
				<%= @student.orientation_completed? ?  @student.orientation_completed_at : "Complete Orientaion" %>
			<% else %>
				Orientation Not Required
			<% end %>
		</dd>
		<dt>Welcome Email</dt>
		<dd><%= @student.email_sent_at %></dd>
		<dt>Registered By</dt>
		<dd><%= @student.created_by.name %></dd>
		<dt>Registered On</dt>
		<dd><%= @student.created_at %></dd>
		<dt>Status</dt>
		<dd><%= @student.inactive? %></dd>
	</dl>
</div>

<a href="<%= admin_student_view_path(@student) %>" class="btn btn-success btn-block"><i class="icon-share-alt"></i> Login as student </a>


<% if can? :manage, ItemConnection %>
	<section class="hide">
		<div class="well">
			<p><strong>Send a Message</strong></p>
			<p>Send a message to the student. </p>
			<p>CC: <%= @current_user.email %></p>
			<%= form_tag notify_students_path  do %>

				<input class="student_notification" type="hidden" name="students[]" value="<%= @student.id %>">
				<input type="hidden" name="student" value="<%= @student.id %>"/>
				<p>Message: <br/><%= text_area_tag 'message', nil, :rows => 8 %></p>
				<p><%= submit_tag "Send...", :class => "btn" %></p>

			<% end %>
		</div>
	</section>

	<% if can?(:block, Student) && @student.blocked == false %>
		<a href="<%= block_student_path(@student) %>" class="float-right btn btn-danger">Block Editing</a>
	<% end %>
<% else %>
	<h3>Student Record Details</h3>

<% end %>
