<div class="student-subnav clearfix">
	<div class="column">
		<a href="<%= student_path(@student) %>" class="resource <%= is_controller_and_action?("students", "show", "active" ) %>">
			<i class="icon-book"></i>
			Assigned Items
		</a>
	</div>

	<div class="column">
		<a href="<%= student_notes_path(@student) %>" data-remote="true" class="resource <%= is_controller?("notes", "active")%>">
			<i class="icon-pencil"></i>
			Notes
		</a>
	</div>

	<div class="column">
		<a href="<%= audit_trail_student_path(@student) %>" class="resource <%= is_action?("audit_trail", "active")%>">
			<i class="icon-list"></i>
			Audit Trail
		</a>
	</div>

	<div class="column last">
		<a href="<%= student_access_codes_path(@student) %>" class="resource <%= is_controller_and_action?("access_codes", "index", "active")%>">
			<i class="icon-lock"></i>
			Access Codes
		</a>
	</div>

</div>
