
<%= simple_form_for @item  do |f| %>

		<%= f.input :title, label: "Full Title" %>


		<div class="row">
			<div class="col-md-6">
				<%= f.input :item_type, label: "Item Type", collection: Item::TYPES, hint: "Select the type of this item.", input_html: { class: "input-xlarge" } %>
			</div>
			<div class="col-md-6">
			  <% if @item.new_record? %>
			    <%= f.input :unique_id, label: "Unique ID", input_html: { placeholder: "auto generated..." },
					 hint: "You can fill in the unique id manually, if you must." %>
				<% else %>
					<%= f.label "Unique ID", :unique_id, class: "required" %><br/>
					<%= @item.unique_id %>
				<% end %>
			</div>
		</div>

		<%= f.input :author, label: "Author(s)" %>

		<div class="row">
			<div class="col-md-6">
				<%= f.input :isbn, label: "ISBN Number" %>
			</div>
			<div class="col-md-6">
				<%= f.input :callnumber, label: "Callnumber"%>
			</div>
		</div>


		<div class="row">
			<div class="col-md-6">
					<%= f.input :publisher, label: "Publisher" %>
			</div>
			<div class="col-md-6">
				<%= f.input :published_date, label: "Published Date" %>
			</div>
		</div>


		<div class="row">
			<div class="col-md-6">
				<%= f.input :edition, label: "Edition" %>
			</div>
			<div class="col-md-6">
				<%= f.input :language_note, label: "Language Note" %>
			</div>
		</div>

		<%= f.input :physical_description,label: "Physical Description" %>

		<div class="row">
			<div class="col-md-6">
				<%= f.input :source, collection: PapyrusSettings.item_sources,  label: "Source" %>
			</div>
			<div class="col-md-6">
				<%= f.input :source_note, label: "Source Note"%>
			</div>
		</div>

		<% if @item.new_record? %>
			<hr/>
			<p>
			<input type="checkbox" name="create_acquisition_request" value="yes"/> Send An Acquisitions Request</p>

			<div class="d-nonerow" id="create_acquisition_request">
				<div class="col-md-6">

				<%= f.fields_for :acquisition_request do |builder| %>

		    	<%= builder.input :acquisition_reason, collection: PapyrusSettings.acquisition_reasons %>
		    	<%= builder.input :note %>
				<% end %>
				</div>
			</div>
		<% end %>

		<hr/>

	 	<%= f.button :submit,  @item.new_record? ? "Create Item" : "Update Item" , class: 'btn-primary' %>
		<%= link_to 'Cancel', @item.new_record? ? items_path : item_path(@item), class: 'btn btn-outline-secondary' %>












<% end %>
