<tr class="item" id="item_<%= item.id %>">
	<td class="icon  hidden-phone" title="<%= item.item_type %>" data-id="<%= item.id %>">		
		<i class="icon-<%= display_icon(item.item_type) %>"></i>
	</td>		
	<td class="title">
		<%= link_to_unless controller.action_name == "show", item.title, item_path(item) do %><%= item.title %><% end %>
	</td>
	<td class="author">
		<%= format_field item.author %>		
	</td>
	<td class="extra hidden-phone">
		<%= format_field item.isbn %>
	</td>
	<td class="students hidden-phone">
		<%= item.students.count %>
	</td>
	<td class="files hidden-phone">
		<%= item.attachments.available.count %>
	</td>
</tr>
<tr class="item-extra hide" id="item_extra_<%= item.id %>">
	<td class="extra"><i class="icon-double-angle-right"></i></td>
	<td colspan="5">
		<div class="span2 no-gutter">
			<p><strong>Call Number</strong><br/>
			<%= format_field item.callnumber %></p>
			<p><strong>Unique ID</strong><br/>
			<%= format_field item.unique_id %></p>
		</div>
		<div class="span2">
			<p><strong>Publisher</strong><br/>
			<%= format_field item.publisher %></p>
			<p><strong>Published Date</strong><br/>
			<%= format_field item.published_date %></p>
		</div>
		<div class="span2">
			<p><strong>Language Note</strong><br/>
			<%= format_field item.language_note %></p>
			<p><strong>Source</strong><br/>
			<%= format_field item.source %></p>
		</div>
	</td>
</tr>