<div class="item">
	<div class="header">
		<h2><i class="icon-<%= display_icon(item.item_type) %>"></i>
			<%= link_to_unless is_action?("show"), item.title, item_path(item) do %><%= item.title %><% end %>
		</h2>
	</div>
	
	<div class="summary">
		<div class="stats">
			<span class="label label-success"><%= @item.attachments.available.count %> files</span>
			<span class="label label-inverse"><%= @item.students.count %> students</span>
			<span class="label label-info">Created by <%= @item.user.name %></span>
			
			<% if is_controller_and_action?("items", "show") && can?(:edit, @item) %>			
				<%= link_to edit_item_path(@item), class: "btn btn-small btn-success flat pull-right hidden-phone" do %><i class="icon-edit"></i> Update This Item<% end%>
			<% end %>
		</div>
	
		<% unless @short_view %>
	
		<table class="table">		
			<tbody>
				<tr>
					<td class="trivial hidden-phone">Author</td>
					<td><label class="weak visible-phone">Author</label>
						<strong><%= item.author %></strong></td>
					<td class="trivial hidden-phone">Unique ID</td>
					<td><label class="weak visible-phone">Unique ID</label>
						<strong><%= item.unique_id %></strong></td>
				</tr>
				<tr>
					<td class="trivial hidden-phone">Call Number</td>
					<td><label class="weak visible-phone">Call Number</label>
						<strong><%= item.callnumber%></strong></td>
					<td class="trivial hidden-phone">ISBN</td>
					<td><label class="weak visible-phone">ISBN</label>
						<strong><%= item.isbn %></strong></td>
				</tr>
				<tr>
					<td class="trivial hidden-phone">Publisher</td>
					<td><label class="weak visible-phone">Publisher</label>
						<strong><%= item.publisher %></strong></td>
					<td class="trivial hidden-phone">Published Date</td>
					<td><label class="weak visible-phone">Published Date</label>
						<strong><%= item.published_date %></strong></td>
				</tr>
				<tr>
					<td class="trivial hidden-phone">Language Note</td>
					<td colspan="3"><label class="weak visible-phone">Language Note</label>
						<strong><%= item.language_note %></strong></td>
				</tr>
				<% unless item.edition.blank? %>
				<tr>
				 	<td class="trivial hidden-phone">Edition</td> 
					<td colspan="3"><label class="weak visible-phone">Edition</label>
						<strong><%= item.edition%></strong></td>			
				</tr>
				<% end %>	
				<% unless item.physical_description.blank? %>
				<tr>
				 	<td class="trivial hidden-phone">Physical Description</td> 
					<td colspan="3"><label class="weak visible-phone">Physical Description</label>
						<strong><%= item.physical_description %></strong></td>			
				</tr>
				<% end %>
				<% unless item.source.blank? && item.source_note.blank? %> 
				<tr>
				 	<td class="trivial hidden-phone">Source</td> 
					<td><label class="visible-phone">Source</label>
						<strong><%= item.source %></strong></td>			
				 	<td class="trivial hidden-phone">Source Note</td> 
					<td><label class="visible-phone">Source Note</label>
						<strong><%= item.source_note %></strong></td>			
				</tr>
				<% end %>
			</tbody>		
		</table>
		<% end %>
	
	
	</div>
	
</div>


