<% title "Acquisition Requests for #{@item.title}" %>
<% title_html do %>
	<h1>Item Details - Acquisition Requests</h1>
<% end%>

<% sidebar do %>
	<h3>Acquisition Requests</h3>
	<p>You can see the acquisition requests made for this item.</p>
	<% if can? :create, AcquisitionRequest %>
		<p>To send a new acquisition request, click on the Make An Acquisition Request button.</p>
	<% end %>
<% end %>
<%= render @item, show: "div" %>
<div class="item-extended">


	<section id="acquisition_requests">
		<h2>Acquisition Requests 	<%= link_to for_item_acquisition_requests_path(:item_id => @item.id), :class=>"btn btn-small", data: { confirm: "Are you sure?" } do %>Make An Acquisition Request<% end %></h2>

		<div class="acquisition_requests well">
			<% if @pending_acquisition_requests.size > 0 %>
				<h5>Pending</h5>
				<%  @pending_acquisition_requests.each do |acquisition_request| %>
					<%= render acquisition_request %>
				<% end %>
			<% else %>
				<p>You have no pending requests</p>
			<% end %>
		</div>


		<div class="well acquisition_requests">
			<h5>Recently Fulfilled</h5>
			<% if @fulfilled_acquisition_requests.size > 0 %>
				<%  @fulfilled_acquisition_requests.each do |acquisition_request| %>
					<%= render acquisition_request %>
				<% end %>
			<% else %>
				<p>You have no recently fulfilled requests</p>
			<% end %>
		</div>


		<div class="well acquisition_requests">
			<h5>Recently Cancelled</h5>
			<% if @cancelled_acquisition_requests.size > 0 %>

				<%  @cancelled_acquisition_requests.each do |acquisition_request| %>
					<%= render acquisition_request %>
				<% end %>

			<% else %>
				<p>You have no recently cancelled requests</p>
			<% end %>
		</div>

	</section>
</div>
