<% title "Audit Trail / #{@item.title}", false %>


<div class="row">
	<div class="col-md-12">
		<%= panel(title: "Audit Trail / #{@item.title} ", icon: "history") do %>
			<div class="item-header row">
				<div class="col-md-10">
					<h5>
						<a class="btn btn-xs btn-default" href="<%= item_path(@item) %>" title="Back To Item Details">
							<i class="fa fa-chevron-left"></i>
						</a> &nbsp;
						<%= @item.title %>
					</h5>
				</div>
				<div class="col-md-2">
					<h5>
						<a href="<%= audit_trail_item_path(@item, format: "xlsx") %>" class="pull-right">
							<i class="fa fa-table"></i> Download Exel
						</a>
					</h5>
				</div>
			</div>
			<hr/>
			<%= render partial:"audit_trail/trail", locals: {audits_grouped: @audits_grouped} %>
		<% end %>
	</div>
</div>
