<% if @items.size > 0 %>
	<div class="pagination-stats">
		<strong>Found <%= " #{@items.total_count}" if @items %> items, showing <%= @items.count%></strong>
			<% if params[:order] == "alpha" %>
				<%= link_to "Date", items_url, :class => "float-right" %>
			<% else %>
				<%= link_to "A-z", items_url(:order => "alpha"), :class => "float-right" %>
			<% end %>
	</div>

	<%= paginate @items %>

	<table class="items">
		<tr class="heading">
			<th class="hidden-phone"></th>
			<th>title</th>
			<th>author</th>
			<th class="hidden-phone">edition</th>
			<th class="hidden-phone">isbn</th>
			<th class="hidden-phone"><i class="icon-user"></i></th>
			<th class="hidden-phone"><i class="icon-file-alt"></i></th>
		</tr>
		<% @items.each_with_index do |item, index| %>	
			<%= render "items/item_row", item: item %>			
		<% end %>
	</table>

	<%= paginate @items %>
<% else %>
	<div class="blank-slate">
		<i class="icon-book"></i>
		<h1>Papyrus Items</h1>
		<p>There are no items stored in Papyrus yet.</p>
		<p>You can <%= link_to "Create a New Item", new_item_path %> to begin using Papyrus.</p>
	</div>
<% end %>
