<div>
	<strong>Found <%= " #{@items.total_count}" if @items %> items, showing <%= @items.count%></strong>
		<% if params[:order] == "alpha" %>
			<%= link_to "Date", items_url, :class => "float-right" %>
		<% else %>
			<%= link_to "A-z", items_url(:order => "alpha"), :class => "float-right" %>
		<% end %>
</div>

<%= paginate @items %>

<table class="items">
	<tr class="heading">
		<th></th>
		<th>title</th>
		<th>author</th>
		<th>isbn</th>
		<th><i class="icon-user"></i></th>
		<th><i class="icon-file-alt"></i></th>
	</tr>
	<% @items.each_with_index do |item, index| %>	
		<%= render "item_row", item: item %>			
	<% end %>
</table>


<div class="items hide">
<% @items.each_with_index do |item, index| %>	
	<%= render :partial => item %>			
<% end %>
</div>

<%= paginate @items %>
