<div class="card">
  <div class="card-header bg-dark text-white">
    Invalid Login
  </div>
  <div class="card-body">
    <h5 class="card-title">This application requires authentication.</h5>
    <p class="card-text">If you see this, you have not been authenticated properly.</p>

    <% if Rails.configuration.is_authentication_method == :devise %>
      <%= form_tag login_path do %>
        <div class="mb-3 row">
          <%= label_tag :email, nil, class: 'col-sm-1 col-form-label' %>
          <div class="col-sm-6">
            <%= text_field_tag :email, nil, class: 'form-control' %>
          </div>
        </div>
        <div class="mb-3 row">
          <%= label_tag :password, nil, class: 'col-sm-1 col-form-label' %>
          <div class="col-sm-6">
            <%= password_field_tag :password, nil, class: 'form-control' %>
          </div>
        </div>
        <%= submit_tag "Log In", class: "btn btn-primary" %>
      <% end %>
    <% end %>
  </div>
</div>
