<div class="card">
  <div class="card-header bg-dark text-white">
    Invalid Login
  </div>
  <div class="card-body">
    <h5 class="card-title">This application requires <%= username_hint %> Authentication.</h5>
    <p class="card-text">If you see this, you have not been authenticated properly.</p>

    <% if Rails.configuration.is_authentication_method == :devise %>
      <%= form_tag login_path do %>
          <div class="field">
          <%= label_tag :email %><br />
          <%= text_field_tag :email, params[:email] %>
          </div>
          <div class="field">
          <%= label_tag :password %><br />
          <%= password_field_tag :password %>
          </div>
          <div class="actions"><%= submit_tag "Log In" %></div>
      <% end %>
    <% else %>
      <%= link_to "Sign in", new_saml_user_session_path, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
