<% title "Edit Course", false %>


<div class="row">
	<div class="col-md-8">
		<%= panel(title: "Edit Course For - #{@term.name}", icon: "university") do %>
			<%= link_to term_path(@term), class: "btn btn-outline-secondary btn-sm" do %>&laquo; Term Details<% end %>
			<hr/>
			<%= render 'form' %>
		<% end %>
	</div>
	<div class="col-md-4">
		<%= panel(title: "Course Syllabus", icon: "list") do %>

				<div class="course_syllabus_menu">
					<% if @course.syllabus == nil %>
						<p id="syllabus_file_name">File: No syllabus attached yet.</p>
						<%= link_to new_course_document_path(@course, name: "Syllabus"), remote: true, class: "btn btn-xs" do %>
							<i class="fa fa-upload" title="Upload Syllabus"></i> Upload New Syllabus
						<% end %>
					<% else %>
						<p id="syllabus_file_name">File: <%= @course.syllabus.filename %></p>
						<%= link_to download_document_path(@course.syllabus, filename: @course.syllabus.filename), class: "btn btn-xs", target: "_blank" do %>
							<i class="fa fa-download" title="Preview/Download Syllabus"></i> Preview Download Syllabus
						<% end %>
						<%= link_to edit_course_document_path(@course, @course.syllabus), remote: true, class: "btn btn-xs" do %>
							<i class="fa fa-upload" title="Upload Syllabus"></i> Update Syllabus
						<% end %>
					<% end %>
				</div>

		<% end %>

		<%= panel(title: "Help", icon: "question") do %>
			<p>Courses are used to organize items in student view.</p>
			<p>
				<a href="<%= PapyrusSettings.course_lookup_url %>" target="_blank" class="green"> Look up courses &raquo;</a>
			</p>
			<hr/>
			<% unless @course.new_record? %>
				<div class="float-right">
					<%= link_to "Delete This Course ?", [@term, @course], confirm: 'Are you sure?', method: :delete, class: "btn btn-danger" %>
				</div>
			<% end %>
		<% end %>
	</div>
</div>


<div class="row">
	<div class="col-md-8">
		<%= panel(title: "Assigned Items", icon: "book") do %>

			<% if @course.items.count == 0 %>
				<p>No Items Have Been Assigned Yet</p>
			<% end %>
			<ul>
				<% @course.items.each do |item| %>
					<li><%= link_to item.title, item_path(item) %></li>
				<% end %>
			</ul>
		<% end %>
	</div>
</div>
