<section class="items" title="list of items">
	<h2>Assigned Items <%= "- " + params[:course].gsub("_", " ") if params[:course]%></h2>
	
	<div class="tabbable" title="navigation for items">
    	<ul class="nav nav-tabs">
    	
			<li class="active"><a href="#book" data-toggle="tab" title="List All Books">Books</a></li>
			<li><a href="#course_kit" data-toggle="tab" title="List All Course Kits">Course Kits</a></li>
			<li><a href="#article" data-toggle="tab" title="List All Articles">Articles</a></li>			
    	</ul>
    	<div class="tab-content">
			<% @items_by_type = Hash.new %>
			
			<% 	@items_grouped.each do |type, items| %>	
					<% @items_by_type["#{type}"] = capture do %>			
					
					<ul class="unstyled">					
					<% items.each do |item| %>
						<li class="item list <%= cycle("odd", "event") %>" title="Item <%=item.title %>">
							<% connection = item.item_connections.current.find_by_student_id(@student.id) %>
							<% if connection %>
								<span class="trivial float-right" title="Item Avaialblity">
									<%= connection.expires_on.strftime("Expires after %b %d, %Y") if connection.expires_on%>
									<%= "Unlimited Access" unless connection.expires_on %>
								</span>
							<% end %>

							<h4><%= item.title %></h4>
							

							<div class="summary" title="Download Item Files">
								<% if item.attachments.size > 0 %>								
									Download
									<a href="<%= zipped_files_item_path(item)%>" title="Download a zipped file">
										<%= pluralize(item.attachments.available.size, "file")%> zipped
									</a><i class="icon-download"></i>						 
									or 
									<a href="#" onclick="$('#attachments-<%=item.id %>').toggle(); return false;" title="Download files individually">
										individual files
									</a><i class="icon-file"></i>			
								
									<div class="hide" id="attachments-<%=item.id%>" title="Individual Files">
										<ol class="attachments">
											<% item.attachments.available.full_text.each do |attachment| %>
											<li>
												<a href="<%= get_file_item_attachment_url(item, attachment) if attachment.file? %>" title="Download full text file">
												 	<%= attachment.name %> (<%= attachment.file.file.extension %>) <%= number_to_human_size attachment.file.file.size %> 
												</a> &laquo; full text &raquo;
											</li>
											<% end %>
											
											<% item.attachments.available.not_full_text.each do |attachment| %>
											<li>
												<a href="<%= get_file_item_attachment_url(item, attachment) if attachment.file? %>" title="Download file">
												 	<%= attachment.name %> (<%= attachment.file.file.extension %>) <%= number_to_human_size attachment.file.file.size %>
												</a>
											</li>
											<% end %>
										</ol>
									</div>
								<% else %>
									<span class="trivial">No files have been added for this item yet. Check back soon.</span>
								<% end %>
																																		
								
							</div>			

						</li>
					<% end %>
			
					</ul>	
					<% end %>
			<% end %>
			
			
			<div id="book" class="tab-pane active">
				<% if @items_by_type["book"] %>
					<%= @items_by_type["book"] %>
				<% else %>
					<p>There are no books assigned.</p>												
				<% end %>
			</div>
			<div id="course_kit" class="tab-pane">
				<% if @items_by_type["course_kit"] %>
					<%= @items_by_type["course_kit"] %>
				<% else %>
					<p>There are no course kits assigned.</p>												
				<% end %>
			</div>
			<div id="article" class="tab-pane">
				<% if @items_by_type["article"] %>
					<%= @items_by_type["article"] %>
				<% else %>
					<p>There are no articles assigned.</p>												
				<% end %>
			</div>
			
    	</div>
    </div>	
</section>