<% if session[:return_to_user_id]%>
	<li><a href="<%= logout_as_student_path %>">&laquo; Back To Papyrus Admin</a></li>
<% end %>

<li class="<%= "active" if controller_name == "student_view" && action_name =="index"%>">
	<a href="<%= show_student_terms_path %>">Terms of Use</a>
</li>

<% if session[:terms_accepted]%>
	<li class="<%= "active" if controller_name == "student_view" && action_name =="show"%>">
		<a href="<%= student_view_path %>">My Items</a>
	</li>
	<li class="<%= "active" if controller_name == "student_view" && action_name =="details"%>">
		<a href="<%= student_view_details_path %>">My Details</a>
	</li>	
	<li class="<%= "active" if controller_name == "student_view" && action_name =="access_codes"%>">
		<a href="<%= student_view_access_codes_path %>">My Access Codes</a>
	</li>
<% end %>

