<% title "My Details" %>


<div class="student">

	<h1><%= @student.name %></h1>
	<div class="attributes row">
			<div class="span2 key">email: </div><div class="span3 value"><%= @student.email %></div>
			<div class="span2 key">phone: </div><div class="span3 value"><%= @student.details.preferred_phone %></div>
	</div>
	<div class="attributes row">
			<div class="span2 key">Student Number: </div><div class="span3 value"><%=  @student.details.student_number %></div>
			<div class="span2 key">Username: </div><div class="span3 value"> <%=  @student.username %></div>
	</div>
	<div class="attributes row">
			<div class="span2 key top-border">Coordinator: </div><div class="span3 value top-border">
				<%= format_field @student.details.coordinator.name rescue nil %><br/>
				<span class="weak"><%= @student.details.coordinator.email %></span>
			</div>
			<div class="span2 key top-border">Assistant: </div><div class="span3 value top-border">
				<%= format_field @student.details.assistant.name rescue nil %><br/>
				<span class="weak"><%= @student.details.assistant.email %></span>
			</div>
	</div>
	<div class="attributes row">
			<div class="span2 key">CDS Councillor:</div><div class="span3 value"><%= @student.details.cds_counsellor %></div>
			<div class="span2 key">Preferred Format:</div><div class="span3 value">
				<% formats_array = Array.new %>
				<% formats_array.push "PDF" if @student.details.format_pdf %>
				<% formats_array.push "KURZWEIL" if @student.details.format_kurzweil %>
				<% formats_array.push "DAISY" if @student.details.format_daisy %>
				<% formats_array.push "BRAILLE" if @student.details.format_braille %>
				<% formats_array.push "WORD" if @student.details.format_word %>
				<% formats_array.push "LARGE PRINT" if @student.details.format_large_print %>
				<div>
					<% formats_array.each do | format| %>
						<span class="tag"><%= format.downcase %></span>
					<% end %>
				</div>
			</div>
	</div>

	<div class="attributes row">
			<div class="span2 key top-border">Welcome Email: </div>
			<div class="span3 value top-border">
				<%  if @student.email_sent_at %>
					Sent On <strong><%= @student.email_sent_at.strftime(" %b %d, %Y") %>
				<% else %>
					Not sent yet
				<% end %>
			</div>
			<div class="span2 key top-border">Orientation: </div>
			<div class="span3 value top-border">
				<% if @student.details.requires_orientation? %>

					<%= @student.details.orientation_completed_at.strftime(" %b %d, %Y") if @student.details.orientation_completed_at != nil %>

					<%  if @student.details.orientation_completed_at == nil && can?(:create, Student)  %>
						Orientation Pending
					<% end %>

				<% else %>
					Orientation Not Required
				<% end %>
			</div>
	</div>
</div>
