<% title "Generate Report" %>

<div class="well">
	<%= form_tag stats_generate_path, method: :get do |f|%>
	<table class="table table-bordered">
		<tr>
			<td>Student</td>
			<td>Assigned To: </td>
			<td>
				<select name="assigned_to">
					<% User.transcription_assitants.each do |u| %>									
						<option value="<%= u.id %>"><%= u.name %></option>
					<% end %>
				</select>
			</td>
		</tr>
		<tr>
			<td>
			</td>
			<td colspan="8">
				<%= submit_tag "Search", align: "right" %>
			</td>
	</table>
	<% end %>
</div>


<h3><%= @title if @title %></h3>

<% if @results.size > 0 %>
	<div class="nav">
		<%= link_to "XLS", url_for(params.merge(format: :xls, only_path: false) )%>
		| <%= link_to "CSV", url_for(params.merge(format: :csv, only_path: false) )%>
	</div>
<% end %>
<table class="table results">
	
	<% @results.each do |r| %>		
		<%= render partial: "result", locals: { result: r}  %>
	<% end %>
</table>

