<% title "Quick Statistics", false %>

<div class="row">
	<div class="col-md-12">
		<%= panel(title: "Reports Home") do %>
			<%= render partial: "stats/shared/nav_menu" %>

			<br/>

			<div class="row">
				<div class="col-md-4">

					<ul class="list-group">
						<li class="list-group-item disabled">
							<span class="strong text-black">Item Statistics</span>
						</li>
					  <li class="list-group-item">
					    <span class="badge badge-secondary"><%= Item.count %></span>
					    Total Number of Items
					  </li>
						<li class="list-group-item">
					    <span class="badge badge-secondary"><%= @has_attachments_count %></span>
					    Items with Files Attached
					  </li>
						<li class="list-group-item">
					    <span class="badge badge-secondary"><%= @has_students_count %></span>
					    Items Assigned to Students
					  </li>
					</ul>

				</div>
				<div class="col-md-4">

					<ul class="list-group">
						<li class="list-group-item disabled">
							<span class="strong text-black">Student Statistics</span>
						</li>
						<li class="list-group-item">
							<span class="badge badge-secondary"><%= Student.count %></span>
							Total Number of Students
						</li>
						<li class="list-group-item">
							<span class="badge badge-secondary"><%= Student.active.count %></span>
							Active Students
						</li>
						<li class="list-group-item">
							<span class="badge badge-secondary"><%= Student.inactive.count %></span>
							Inactive Students
						</li>
					</ul>

				</div>
				<div class="col-md-4">

					<ul class="list-group">
						<li class="list-group-item disabled">
							<span class="strong text-black">Miscellaneous Statistics</span>
						</li>
						<li class="list-group-item">
							<span class="badge badge-secondary"><%=  User.not_students.active.count %></span>
				 			Active Papyrus Users
						</li>
						<li class="list-group-item">
							<span class="badge badge-secondary"><%= User.not_students.inactive.count %></span>
							Inactive Papyrus Users
						</li>
						<li class="list-group-item">
							<span class="badge badge-secondary"> <%= Term.count %> | <%= Course.count %> </span>
							Terms and Courses
						</li>
					</ul>
				</div>
			</div>

		<% end %>
	</div>
</div>
<div class="row">

</div>
