<% title "Items History" %>
<% title_html do %>
	<h1>Items History
		<small class="pull-right">
			<a href="<%=stats_items_history_path(params: request.query_parameters, format: "xlsx") %>"><i class="icon-table"></i> Download Exel </a>
		</small>
	</h1>
<% end %>

<%= render partial: "stats/shared/nav_menu" %>

<form action="<%= stats_items_history_path %>" method="get" class="simple_form">
	<%= render partial: "stats/shared/form_fields" %>
</form>

<h4>Items Added between [<%= @start_date %> and <%= @end_date %>] <small><%= @items.count %> (showing first 10)</small></h4>
<p>Number Of All Items: <strong><%= @items_count%></strong></p>
<table class="table table-striped">
	<tr>
		<th>Item Title</th>
		<th>Source</th>
		<th>Callnumber</th>
		<th>ISBN</th>
		<th>Creator</th>
    <th>Date</th>
	</tr>
	<% @items.first(10).each do |item| %>
		<tr>
				<td><%=  item.title %> </td>
				<td><%=  item.source %> </td>
				<td><%=  item.callnumber %> </td>
				<td><%=  item.isbn %> </td>
				<td><%=  item.user.name rescue nil %> </td>
        <td><%= item.created_at.strftime("%b %d, %Y") %> </td>
		</tr>
	<% end %>
</table>
<a href="<%=stats_items_history_path(params: request.query_parameters, format: "xlsx") %>"><i class="icon-table"></i> Download Exel </a>
