<% title "Item Usage", false %>

<div class="row">
	<div class="col-md-12">
		<%= panel(title: "Item Usage") do %>
		<div class="text-right mb-3">
			<a href="<%=stats_item_usage_path(params: request.query_parameters, format: "xlsx") %>" class="btn btn-outline-secondary btn-sm">
				<i class="fas fa-table "></i> Download Exel
			</a>
		</div>

			<%= render partial: "stats/shared/nav_menu" %>



			<form action="<%= stats_item_usage_path %>" method="get" class="simple_form">
				<%= render partial: "stats/shared/form_fields" %>
			</form>

			<hr/>

			<h5>Assigned Items <span class="alert alert-primary py-0 px-2"><%= @assigned_items.count %></span></h5>
			<p>Number Of All Items: <strong><%= @items_count%></strong></p>
			<table class="table table-striped">
				<tr>
					<th>Item Title</th>
					<th>Callnumber</th>
					<th>Source</th>
					<th>ISBN</th>
					<th>Assigned Count</th>
				</tr>
				<% @assigned_items.first(10).each do |item| %>
					<tr>
							<td><%= item["title"] %></td>
							<td><%= item["callnumber"]%></td>
							<td><%= item["source"]%></td>
							<td><%= item["isbn"]%></td>
							<td><%= item["assigned_count"]%></td>
					</tr>
				<% end %>
			</table>
			<p class="text-muted small">Showing first 10 items</p>

			<a class="btn btn-outline-secondary btn-xs" href="<%=stats_item_usage_path(params: request.query_parameters, format: "xlsx") %>">
				<i class="fas fa-table"></i> Download Exel
			</a>

			<hr/>

			<h5>Not Assigned Items <span class="alert alert-primary py-0 px-2"><%= @unassigned_items.count%></span></h5>

			<table class="table table-striped">
				<tr>
					<th>Item Title</th>
					<th>Callnumber</th>
					<th>Source</th>
					<th>ISBN</th>
				</tr>
				<% @unassigned_items.first(10).each do |item| %>
					<tr>
							<td><%= item.title%></td>
							<td><%= item.callnumber %></td>
							<td><%= item.source%></td>
							<td><%= item.isbn%></td>
					</tr>
				<% end %>
			</table>

			<p class="text-muted small">Showing first 10 items</p>

			<a class="btn btn-outline-secondary btn-xs" href="<%=stats_item_usage_path(params: request.query_parameters, format: "xlsx") %>">
				<i class="fas fa-table"></i> Download Exel
			</a>


		<% end %>

	</div>
</div>
