<% title "Item Usage" %>
<% title_html do %>
	<h1>Item Usage 
		<small class="pull-right">
			<a href="<%=stats_item_usage_path(start_date: @start_date, end_date: @end_date, format: "xls") %>"><i class="icon-table"></i> Download Exel </a>
		</small>
	</h1>	
<% end %>

<p>Total Items <strong><%= @items_count%></strong></p>
<h5>Date Range</h5>

<form action="<%= stats_item_usage_path %>" method="get" class="simple_form">
	<input type="text" name="start_date" value="<%= @start_date %>" class="datepicker"/> - 
	<input type="text" name="end_date" value="<%= @end_date %>" class="datepicker"/>
	<input type="submit" value="Generate" class="btn btn-large" style="margin-top: -8px;">
</form>

<h4>Assigned Items <small><%= @assigned_items.count %> (showing first 10)</small></h4>
<table class="table table-striped">
	<tr>
		<th>Item Title</th>
		<th>Callnumber</th>
		<th>Source</th>
		<th>ISBN</th>
		<th>Assigned Count</th>
	</tr>
	<% @assigned_items.first(10).each do |item| %>
		<tr>		
				<td><%= item["title"] %></td>
				<td><%= item["callnumber"]%></td>
				<td><%= item["source"]%></td>
				<td><%= item["isbn"]%></td>
				<td><%= item["assigned_count"]%></td>
		</tr>
	<% end %>
</table>
<a href="<%=stats_item_usage_path(start_date: @start_date, end_date: @end_date, format: "xls") %>"><i class="icon-table"></i> Download Exel </a>

<h4>Not Assigned Items <small><%= @unassigned_items.count%> (showing first 10)</small></h4>

<table class="table table-striped">
	<tr>
		<th>Item Title</th>
		<th>Callnumber</th>
		<th>Source</th>
		<th>ISBN</th>
	</tr>
	<% @unassigned_items.first(10).each do |item| %>
		<tr>		
				<td><%= item.title%></td>
				<td><%= item.callnumber %></td>
				<td><%= item.source%></td>
				<td><%= item.isbn%></td>
		</tr>
	<% end %>
</table>
<a href="<%=stats_item_usage_path(start_date: @start_date, end_date: @end_date, format: "xls") %>"><i class="icon-table"></i> Download Exel </a>

		