<div class="modal sfade" id="acquisition_request_change_status_form">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= simple_form_for @acquisition_request, url: change_status_acquisition_request_path(@acquisition_request) do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Back Order Request</h4>
      </div>
      <div class="modal-body">
        <input type="hidden" name="status" value="<%= AcquisitionRequest::STATUS_BACK_ORDERED %>"/>
        <p class="small">Please provide the reason for back order</p>
        <%= f.input :back_ordered_until, label: "Back Ordered Until", as: :string, input_html: { class: "form-control datepicker"}  %>
        <%= f.input :back_ordered_reason, label: "Reason", as: :string %>
        <p class="small">All fields are required.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         <%= f.button :submit, class: "btn btn-success", value: "Back Order This Request",  data: { confirm: "Are you sure?" }  %>
      </div>
      <% end %>
    </div>
  </div>
</div>
