<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top navbar-red" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><%= PapyrusSettings.app_name %></a>
      </div>
      <!-- Top Menu Items -->

      <%= render template: "layouts/top_menu" %>

      <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav side-nav">
              <% if @current_user.type == Student.to_s %>
                <%= render partial: "my/shared/student_menu" %>
              <% end %>

              <% if can? :read, Item %>

              <li class="<%= "active" if controller_name == "home" %>">
                  <a href="<%= dashboard_path %>"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
              </li>


              <li class="<%= "active" if controller_name == "items"%>">
                  <a href="<%= items_path %>"><i class="fa fa-fw fa-book"></i> Items</a>
              </li>
              <li class="<%= "active" if controller_name == "todo_lists" || controller_name == "todo_items"%>">
                  <a href="<%= todo_lists_path %>"><i class="fa fa-fw fa-list"></i> Todo Lists</a>
              </li>
              <li class="<%= "active" if controller_name == "acquisition_requests" %>">
                  <a href="<%= acquisition_requests_path %>"><i class="fa fa-fw fa-shopping-cart"></i> Acquisitions</a>
              </li>
              <% end %>


              <% if can? :read, Student %>
    					<li class="<%= "active" if controller_name == "students" %>">
    						<a href="<%= students_path %>"><i class="fa fa-fw fa-users"></i> Students</a>
    					</li>
    					<% end %>




              <% if can? :read, Term %>
              <li class="<%= "active" if controller_name == "terms"%>">
                <a href="<%= terms_path %>"><i class="fa fa-fw fa-university"></i> Terms &amp; Courses</a>
              </li>
              <% end %>

              <% if can? :read, AcquisitionRequest %>
    						<li class="hide <%= "active" if controller_name == "acquisition_requests" %>">
    							<a href="<%= acquisition_requests_path %>"><i class="fa fa-fw fa-shopping-cart"></i> Acquisitions</a>
    						</li>
    					<% end %>

              <% if can? :read, Item %>
              <li class="<%= "active" if controller_name == "search" %>">
                  <a href="<%= search_path %>"><i class="fa fa-fw fa-search"></i> Search</a>
              </li>
              <% end %>

              <% if can? :manage, :shared_access_codes %>
              <li class="<%= "active" if controller_name == "shared_access_codes" %>">
                <a href="<%= shared_access_codes_path %>"><i class="fa fa-fw fa-lock"></i> Shared Access Codes</a>
              </li>
              <% end %>
              <% if can? :show, :stats %>
              <li class="<%= "active" if controller_name == "stats" %>">
                <a href="<%= stats_path %>"><i class="fa fa-fw fa-bar-chart"></i> Reports</a>
              </li>
              <% end %>

          </ul>
      </div>  <!-- /.navbar-collapse -->

</nav>
