<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>

			<!-- Be sure to leave the brand out there if you want it shown -->
			<a class="brand" href="#"><%= PapyrusSettings.app_name %></a>

			<!-- Everything you want hidden at 940px or less, place within here -->
			<div class="nav-collapse">

				<!-- .nav, .navbar-search, .navbar-form, etc -->
				<ul class="nav">

					<li class="divider-vertical"></li>
					<% if can? :show, :dashboard %>
					<li class="home <%= "active" if controller_name == "home" %>">
						<a href="<%= dashboard_path %>">
						<% image_tag("icons/home.png", :width => 20) %> Home
						</a>
					</li>
					<% end %>


					<% if can? :read, Item %>
					<li class="<%= "active" if controller_name == "items" && action_name !="new"%>">
						<a href="<%= items_path %>">Items</a>
					</li>
					<% end %>

					<% if can? :read, Student %>
					<li class="<%= "active" if controller_name == "students" && action_name !="new"%>">
						<a href="<%= students_path %>">Students</a>
					</li>
					<% end %>

					<% if can? :read, Term %>
					<li class="<%= "active" if controller_name == "terms"%>">
						<a href="<%= terms_path %>">Terms &amp; Courses</a>
					</li>
					<% end %>



					<% if can? :read, AcquisitionRequest %>
						<li class="<%= "active" if controller_name == "acquisition_requests" %>">
							<a href="<%= acquisition_requests_path %>">Acquisitions</a>
						</li>
					<% end %>


					<% if @current_user.type == Student.to_s %>
						<%= render partial: "student_view/student_menu" %>
					<% end %>

			    </ul>
				<ul class="nav  pull-right">
						<% if can? :create, Item %>
							<li class="dropdown <%= "active" if controller_name == "items" && action_name == "new" %>">
								<a  class="dropdown-toggle" data-toggle="dropdown" href="#" title="New Item">
								<i class="icon-plus-sign icon-white"></i> New Item  <b class="caret"></b>
								</a>
								<ul class="dropdown-menu">
									<li class="nav-header">Choose one: </li>
									<li>
										<a href="<%= new_item_path %>"><i class="icon-pencil"></i> Create Blank Item</a>
									</li>
									<li>
										<a href="<%= search_items_path(type: BibRecord::SOLR) %>">
											<i class="icon-search"></i> Item From <%= bib_search_solr_label %> Search
										</a>
									</li>
									<li>
										<a href="<%= search_items_path(type: BibRecord::WORLDCAT) %>">
											<i class="icon-search"></i> Item From <%= bib_search_worldcat_label %> Search
										</a>
									</li>

								</ul>
							</li>
						<% end%>
						<% if can? :create, Student %>
							<li class="<%= "active" if controller_name == "students" && action_name == "new" %>">
								<a href="<%= new_student_path %>"><i class="icon-plus-sign icon-white"></i> Register Student</a>
							</li>
						<% end%>
						<li class="divider-vertical"></li>

						<%= render template: "layouts/admin_menu" %>

						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#" title="Current User">
								<div class="user-initials"><%= @current_user.initials if @current_user %></div>
							</a>
							<ul class="dropdown-menu">
								<li><%= link_to "Logout", logout_path%></li>
								<% if Rails.env.development? %>
									<li class="divider"></li>
									<li class="nav-header">Log in as </li>
									<% User::ROLE_NAMES.each do |role| %>
										<li><%=link_to role, login_path(:as => role)%></li>
									<% end %>
								<% end %>
							</ul>
						</li>
				</ul>
			</div>
		</div>
	</div>
</div>
