<ul class="nav navbar-nav navbar-right top-nav">

  <% if can? :create, Item %>
    <li class="dropdown <%= "active" if controller_name == "items" && action_name == "new" %>">
      <a  class="dropdown-toggle" data-toggle="dropdown" href="#" title="New Item">
      <i class="fa-plus-square fa"></i> New Item  <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li>
          <a href="<%= new_item_path %>"><i class="fa-pencil fa"></i> Blank Item</a>
        </li>
        <li>
          <a href="<%= search_items_path(type: BibRecord::VUFIND) %>">
            <i class="fa-search fa"></i> <%= bib_search_vufind_label %> Item
          </a>
        </li>
        <li>
          <a href="<%= search_items_path(type: BibRecord::WORLDCAT) %>">
            <i class="fa-globe fa"></i> <%= bib_search_worldcat_label %> Item
          </a>
        </li>

      </ul>
    </li>
  <% end%>

  <% if can? :create, Student %>
    <li class="<%= "active" if controller_name == "students" && action_name == "new" %>">
      <a href="<%= new_student_path %>"><i class="fa-user-plus fa"></i> Register Student</a>
    </li>
  <% end%>

  <% if can? :manage, User %>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" title="Current User">
        <i class="fa fa-cog"></i> <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li class="<%= "active" if controller_name == "users" %>">
          <a href="<%= users_path %>">Papyrus Users</a>
        </li>
        <li class="<%= "active" if controller_name == "shared_access_codes" %>">
          <a href="<%= shared_access_codes_path %>">Shared Access Codes</a>
        </li>

        <li class="divider"></li>

        <li class="<%= "active" if is_controller_and_action?("home", "active_users") %>">
          <%= link_to "Active Users", active_users_path %>
        </li>
        <li class="<%= "active" if controller_name == "announcements" %>">
          <%= link_to "Announcements", announcements_path %>
        </li>

        <%  if can? :show, :stats %>
          <li class="divider"></li>
          <li class="<%= "active" if controller_name == "stats" %>">
            <%= link_to "Reports", stats_path %>
          </li>
        <% end %>
        <% if can? :show, PapyrusSettings %>
          <li class="divider"></li>
          <li class="<%= "active" if is_controller_and_action?("settings", "general") %>">
            <%= link_to "Settings: General", general_settings_path %>
          </li>
          <li class="<%= "active" if is_controller_and_action?("settings", "item") %>">
            <%= link_to "Settings: Item", item_settings_path %>
          </li>
          <li class="<%= "active" if is_controller_and_action?("settings", "email") %>">
            <%= link_to "Settings: Email", email_settings_path %>
          </li>
          <li class="<%= "active" if is_controller_and_action?("settings", "bib_search") %>">
            <%= link_to "Settings: Bib Search", bib_search_settings_path %>
          </li>
          <li class="<%= "active" if is_controller_and_action?("settings", "system") %>">
            <%= link_to "Settings: System", system_settings_path %>
          </li>

          <li class="<%= "active" if is_controller_and_action?("settings", "acquisitions") %>">
            <%= link_to "Settings: Acquisitions", acquisitions_settings_path %>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>

  <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-bell"></i> <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <% Announcement.active.current(nil, @current_user.type).each do |announcement| %>
          <%= render announcement, show: "li" %>
        <% end %>
      </ul>
  </li>

  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" title="Current User">
      <i class="fa fa-user"></i> <%= @current_user.name if @current_user %> <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="<%= logout_path%>"><i class="fa fa-fw fa-power-off"></i> Log out</a> </li>
      <% if Rails.env.development? %>
        <li class="divider"></li>
        <li><a href>Log in as</a></li>
        <li class="divider"></li>
        <% User::ROLE_NAMES.each do |role| %>
          <li><%=link_to "- #{role}", login_path(:as => role)%></li>
        <% end %>
      <% end %>
    </ul>
  </li>
</ul>
