<ul class="nav navbar-nav navbar-right top-nav">

  <% if can? :create, Item %>
    <li>
      <a href="<%= new_omni_search_path %>" data-remote="true">
        <i class="fa-search fa"></i>
      </a>
    </li>

    <li class="dropdown <%= "active" if controller_name == "items" && action_name == "new" %>">
      <a  class="dropdown-toggle" data-toggle="dropdown" href="#" title="New Item">
      <i class="fa-plus-square fa"></i> New Item  <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li>
          <a href="<%= new_item_path %>"><i class="fa-pencil fa"></i> Blank Item</a>
        </li>
        <% if can? :manage, User %>
        <li>
          <a href="<%= new_course_kit_path %>">
            <i class="fa-book fa"></i> Course Kit
          </a>
        </li>
        <% end %>
        <li>
          <a href="<%= from_primo_index_path %>">
            <i class="fa-search fa"></i> Primo Item
          </a>
        </li>
        <li>
          <a href="<%= from_worldcat_index_path %>">
            <i class="fa-globe fa"></i> Worldcat Item
          </a>
        </li>

      </ul>
    </li>
  <% end%>

  <% if can? :create, Student %>
    <li class="<%= "active" if controller_name == "students" && action_name == "new" %>">
      <a href="<%= new_student_path %>"><i class="fa-user-plus fa"></i> Register Student</a>
    </li>
  <% end%>

  <% if can? :manage, User %>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" title="Current User">
        <i class="fa fa-cog"></i> <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li class="<%= "active" if controller_name == "users" %>">
          <a href="<%= users_path %>">Papyrus Users</a>
        </li>

        <li class="divider"></li>

        <li class="<%= "active" if is_controller_and_action?("home", "active_users") %>">
          <%= link_to "Active Users", active_users_path %>
        </li>
        <li class="<%= "active" if controller_name == "announcements" %>">
          <%= link_to "Announcements", announcements_path %>
        </li>

        <%  if can? :show, :stats %>
          <li class="divider"></li>
          <li class="<%= "active" if controller_name == "stats" %>">
            <%= link_to "Reports", stats_path %>
          </li>
        <% end %>
        <% if can? :show, PapyrusSettings %>
          <li class="divider"></li>
          <li><a href="<%= general_settings_path %>"><strong>Settings</strong></a></li>
          <li class="<%= "active" if is_controller_and_action?("settings", "general") %>">
            <%= link_to "General", general_settings_path %>
          </li>
          <li class="<%= "active" if is_controller_and_action?("settings", "item") %>">
            <%= link_to "Item", item_settings_path %>
          </li>
          <li class="<%= "active" if is_controller_and_action?("settings", "courses") %>">
            <%= link_to "Courses", courses_settings_path %>
          </li>
          <li class="<%= "active" if is_controller_and_action?("settings", "email") %>">
            <%= link_to "Email", email_settings_path %>
          </li>
          <li class="<%= "active" if is_controller_and_action?("settings", "bib_search") %>">
            <%= link_to "Bib Search", bib_search_settings_path %>
          </li>
          <li class="<%= "active" if is_controller_and_action?("settings", "system") %>">
            <%= link_to "System", system_settings_path %>
          </li>
          <li class="<%= "active" if is_controller_and_action?("settings", "import") %>">
            <%= link_to "Student Management", students_settings_path %>
          </li>

          <li class="<%= "active" if is_controller_and_action?("settings", "acquisitions") %>">
            <%= link_to "Acquisitions", acquisitions_settings_path %>
          </li>

          <li class="<%= "active" if is_controller_and_action?("settings", "primo_alma") %>">
            <%= link_to "Primo Alma", primo_alma_settings_path %>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>

  <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-bell"></i> <b class="caret"></b>
      </a>
      <ul class="dropdown-menu" style="width: 300px;">
        <% Announcement.active.current(nil, @current_user.type).each do |announcement| %>
          <%= render partial: "announcements/announcement", locals: { show: "li", announcement: announcement } %>
        <% end %>
      </ul>
  </li>

  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" title="Current User">
      <i class="fa fa-user"></i> <%= @current_user.name if @current_user %> <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="<%= logout_path%>"><i class="fa fa-fw fa-power-off"></i> Log out</a> </li>
      <% if Rails.env.development? %>
        <li class="divider"></li>
        <li><a href>Log in as</a></li>
        <li class="divider"></li>
        <% User::ROLE_NAMES.each do |role| %>
          <li><%=link_to "- #{role}", login_path(:as => role)%></li>
        <% end %>
      <% end %>
    </ul>
  </li>
</ul>
